@charset "utf-8";
/* 样式表说明：front.css是当用户没登录后台管理前，所有页面的css，如首页、加盟页、各种介绍页等 */
/* 初始化 */

html {font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%}
body { font-family:Arial, Helvetica, sans-serif; margin:0;padding:0; font-size:14px;color:#333; background:#F6F6F6; line-height:100%;}
img {border: 0}
a {color:#333;text-decoration: none}
a:hover {color:#333;text-decoration: underline;}
p,div,input,form,button,select {margin:0;padding:0;}
ul,li,ul li,dd,dt,ol {margin:0;padding:0;}

.main-left,.left,.L,.fl { float:left}
.main-right,.right,.R,.fr { float:right}

/* placeholder */
input::-webkit-input-placeholder {color:#999;}
input:-moz-placeholder {color:#999;}
::-webkit-input-placeholder { color:#999; }
input:-moz-placeholder { color:#999; }
div.ph { }div.ph span { text-indent:12px;  }

/* 输入框、按钮初始 */
input[type="text"],input[type="password"] {border:1px solid #D4D4D4;height:24px;line-height:22px; font-size:12px;color:#333; text-indent:5px;width:120px;}
textarea {border:1px solid #D4D4D4;height:24px;line-height:22px; font-size:12px;color:#333;padding:4px;width:120px;}
select {border:1px solid #D4D4D4;height:24px;width:120px; line-height:22px;font-size:12px;}
input[type="button"],input[type="submit"],button,.abutton { background-color:#1A57AA; background-image:url(../image/btn-bg2.png); background-repeat:repeat-x; background-position:0 -5px;
border:0px solid #14375A; overflow:hidden;height:36px; display:block;line-height:34px;width:100px; font-size:14px;color:#FFF; font-family: "Microsoft YaHei"; cursor:pointer;
-moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari 和 Chrome */
border-radius:3px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
 }
.abutton a,.abutton a:hover { color:#FFF; display:block; text-align:center; text-decoration:none;}
.abutton a:hover {background-color:#1A57AA ;}
input[type="button"]:hover,input[type="submit"]:hover,button:hover { background-color:#164B94 ;}

.btn01 {background-color:#F0F0F0; background-image:url(../image/btn-bg.png); background-repeat:repeat-x; background-position:0 -60px; padding:7px 15px;border:1px solid #ccc; font-size:12px; color:#666;}
.btn01:hover {border:1px solid #ccc;font-size:12px; text-decoration:none; color:#333;background-position:0 -67px;}


/* 宽度初始 */
.w980 {width:980px;}
.w1000 {width:1000px;}
.w1100 {width:1100px;}
.w1200 {width:1200px;}


/* 提示语 */
.red-tips {color:#C00; font-size:12px;}
.hui-tips {color:#888; font-size:12px;}

/* 验证码初始 */
.yanzhengma { float:left;margin-left:15px; height:40px;width:83px; overflow:hidden;}
.yanzhengma img {width:auto;height:40px;}

/* 页头 */
.wrapper {}
.login {}
.login .header {height:94px; background:#F6F6F6;width:auto;}
.login .header .w1200 {margin:0 auto;height:94px;width:1000px; }

.login .header .left {min-width:520px;}
.login .header .left img { float:left;margin-top:20px;}
.login .header .left img.img1 {padding-right:5px;}
.login .header .left img.img2 {padding-left:0px;}

.login .header .right {min-width:300px;}
.login .header .right-menu {/* padding-right:15px; */font-family: "Microsoft YaHei";}
.login .header .right-menu li { float:right;width:110px;height:90px; list-style:none;background-image:url(../image/icon-top.png); background-repeat:no-repeat; }
.login .header .right-menu li a { display:block;width:110px; font-size:14px;color:#333; text-align:center;padding-top:60px;}
.login .header .right-menu li a:hover { text-decoration:none;}

/*.login .header .right-menu li.icon-contact {border-right:1px solid #E1E1E1;border-left:1px solid #E1E1E1; background-position:33px -105px;border-top:4px solid #305C9A;}
.login .header .right-menu li.icon-contact:hover { background-position:33px -422px;}

.login .header .right-menu li.icon-mima {border-left:1px solid #E1E1E1; background-position:33px -625px;border-top:4px solid #FFA700;}
.login .header .right-menu li.icon-mima:hover {background-position:33px -715px;}*/

.login .header .right-menu li.icon-addus {border-left:1px solid #E1E1E1; background-position:28px -105px;border-top:4px solid #305C9A;}
.login .header .right-menu li.icon-addus:hover {background-position:28px -422px;}

.login .header .right-menu li.icon-mima {border-left:1px solid #E1E1E1; background-position:28px -105px;border-top:4px solid #FFA700;}
.login .header .right-menu li.icon-mima:hover {background-position:28px -422px;}

.login .header .right-menu li.icon-contact {border-right:1px solid #E1E1E1;border-left:1px solid #E1E1E1; background-position:28px -105px;border-top:4px solid #305C9A;}
.login .header .right-menu li.icon-contact:hover { background-position:28px -422px;}


/* 页脚 */
.login .footer {  background:#F6F6F6;}
.login .footer .w1200 {margin:0 auto; text-align:center; line-height:140%; color:#666666;padding:30px 0 20px 0;}
.login .footer .w1200 p { font-size:16px; font-family: "Microsoft YaHei";padding-bottom:10px;}
.login .footer .w1200 p.copyright { font-size:12px; }


/* 首页 */
.main {}
.login .main {}
.login .main .index-focus {width:auto;height:460px; background:url(../image/bg-index.jpg) no-repeat center top;}
.login .main .index-focus .mod-login {width:1000px; position:relative;height:460px; margin:0 auto;}
.login .main .index-focus .mod-login .c1 { position:absolute;right:0px;top:45px;background:#F6F6F6;width:420px;height:370px;
filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;}
.login .main .index-focus .mod-login .c2 { position:absolute;right:0px;top:45px; width:420px;height:370px; }
.mod-login .head {width:72%;margin:0 auto;}
.mod-login .head strong {font-family: "Microsoft YaHei"; font-size:20px; font-weight:normal;width:60px; text-align:center;border-top:6px solid #FFA700; display:block;padding:20px 0 25px 0;}

.mod-login .login-label {width:70%;margin:0 auto;}
.mod-login .login-label label {margin-bottom:15px; display:block; overflow:auto;min-height:40px;min-width: 300px}
.mod-login .login-label label input[type="text"],.mod-login .login-label label input[type="password"] { font-family: "Microsoft YaHei";font-size:14px;width: 250px;height:38px; line-height:38px; float:left;border:1px solid #D4D4D4; text-indent:12px;}
.mod-login .login-label div.ph span { text-indent:12px; line-height:40px!important; font-family: "Microsoft YaHei"; }
 
.mod-login .login-label .input01 { min-height:20px;padding-top:5px;}
.mod-login .login-label .input02 {}
.mod-login .login-label .input03 { text-align:right; font-size:12px;}
.mod-login .login-label label input.btn-login {width: 290px;font-size:18px; height:40px;border:0;background-position:0 -3px;}


.mod-login .login-label u {width:14%;height:40px; background-color:#ABADAC; display:block; float:left;background-image:url(../image/bg-login.jpg); background-repeat:no-repeat;}
.icon-user01 { background-position:0 -8px;}
.icon-user02 {background-position:0 -58px;}
.icon-user03 {background-position:0 -107px;}
.icon-user04 {background-position:0 -157px;}


/* 加盟 */
.main-joinus { width:auto;background:url(../image/bg-joinus.jpg) no-repeat center top;}
.main-joinus .w980 {margin:0 auto;}
.main-joinus .w980 .mod-joinus {width:100%;hegight:auto;padding-top:160px;}
.main-joinus .w980 .mod-joinus .c { border:1px solid #eee;border-top:0;padding:0 20px 0 20px; background:#FFF; border-radius:3px;margin:5px auto;width:95%;
 -moz-box-shadow:0px 0px 5px #ccc;              
    -webkit-box-shadow:0px 0px 5px #ccc;           
    box-shadow:0px 0px 5px #ccc;
}

.mod-joinus .head {height:68px;border-bottom:1px solid #E1E1E1;wdith:100%;font-family: "Microsoft YaHei";}
.mod-joinus .head strong { display:block; float:left; font-size:20px; font-weight:normal;width:60px; text-align:center;border-top:6px solid #FFA700; display:block;padding:20px 0 25px 0;margin-left:20px;}
.mod-joinus .head span { float:right;padding-right:15px; line-height:66px; color:#666;}
.mod-joinus b {color:#C00;}
.mod-joinus .joinus-label {padding:50px;padding-left:220px;}
.mod-joinus .joinus-label label {margin-bottom:12px; display:block; overflow:auto;min-height:50px;line-height:32px;}
.mod-joinus .joinus-label label em { font-style:normal;float:left;width:100px; text-align:left; font-family: "Microsoft YaHei"; font-weight:normal;}
.mod-joinus .joinus-label label p { float:left;height:32px;width:192px; }
.mod-joinus .joinus-label label input[type="text"],.mod-joinus .joinus-label label input[type="password"] { font-family: "Microsoft YaHei";float:left; font-size:14px;width:190px;height:32px; line-height:30px; text-indent:8px;}
.mod-joinus .joinus-label label textarea {  font-size:14px;padding:6px 8px;font-family: "Microsoft YaHei";}
.mod-joinus .joinus-label label div.ph span { font-family: "Microsoft YaHei"; }

.mod-joinus .joinus-label label input.btn-login { margin-left:100px;width:200px; font-size:18px; height:40px;border:0; background-position:0 -3px;}
.mod-joinus .joinus-label label input.btn-login:hover {background-position:0 -3px;}

.mod-joinus .joinus-label .input01 {margin-left:100px;  }
.mod-joinus .joinus-label .btn01 { margin-left:15px;}


/* 找回密码 */
.main-passmord { background:#E4E7E9;border-top:1px solid #E1E1E1;}
.main-passmord .w980 {margin:0 auto; }
.main-passmord .w980 .mod-passmord {width:100%;hegight:auto;padding-top:60px;padding-bottom:60px;}
.main-passmord .w980 .mod-passmord .c { border:0px solid #eee;border-top:0;padding:0 20px 30px 20px; background:#FFF; border-radius:3px;margin:5px auto;width:95%;
 -moz-box-shadow:0px 0px 5px #ccc;              
    -webkit-box-shadow:0px 0px 5px #ccc;           
    box-shadow:0px 0px 5px #ccc;
}

.mod-passmord .head {height:68px;border-bottom:1px solid #E1E1E1;wdith:100%;font-family: "Microsoft YaHei";}
.mod-passmord .head strong { display:block; float:left; font-size:20px; font-weight:normal;width:100px; text-align:center;border-top:6px solid #FFA700; display:block;padding:20px 0 25px 0;margin-left:20px;}
.mod-passmord .head span { float:right;padding-right:15px; line-height:66px; color:#666;}
.mod-passmord b {color:#C00;}

.step {margin:0 auto; width:745px;height:42px; overflow:hidden; line-height:42px; background-image:url(../image/bg-step.jpg); background-repeat:no-repeat; background-position:0 0; font-size:14px;font-family: "Microsoft YaHei";}
.step strong { float:left;color:#FFF; width:25%; text-align:center; font-weight:bold;} 
.step span { float:left;color:#999;width:25%; text-align:center;} 
.step1 {background-position:0 0;}
.step2 {background-position:0 -42px;}
.step3 {background-position:0 -84px;}
.step4 {background-position:0 -126px;}


.main-passmord .step {margin-top:40px;margin-bottom:50px;}
.password-label {padding-left:300px;}
.password-label label {margin-bottom:12px; clear:both; display:block;overflow:auto; min-height:50px;line-height:32px;}
.password-label label p { float:left;width:192px; height:34px; text-align:left; margin:0;padding:0;}
.password-label label input[type="text"],.password-label label input[type="password"] { font-family: "Microsoft YaHei"; font-size:14px;width:190px;height:32px; line-height:30px; text-indent:8px;}
.password-label label em { font-style:normal;float:left;width:100px; *+width:90px;text-align:left; font-family: "Microsoft YaHei"; font-weight:normal;}
.password-label label div.ph span { font-family: "Microsoft YaHei"; }
.password-label .paddingleft {padding-left:100px;}
.password-label2 label span {width:130px;}
.password-label2 .paddingleft {padding-left:130px;}
.password-label .btn01 { margin-left:15px;}
 

.main-passmord .succeed {width:400px;height:200px; background:url(../image/right.jpg) no-repeat left 0;}
.main-passmord .succeed p {padding-top:30px;padding-left:130px; text-align:left; font-size:14px; font-family: "Microsoft YaHei"; line-height:220%;}
.main-passmord .succeed p strong { font-size:24px; font-weight:normal;}
.password-label a.ahover {color:#333;margin-left:5px;}
.password-label a.ahover:hover {color:#333}




