select{
	width: 174px;
	height: 26px;
}


p{
	text-align: center;
	font-size: 20px;
}


.wrapper{
	height: auto;
	padding-left: 70px;
	padding-right: 70px;
}
.title{
	clear: both;
	height: 30px;
	border: #999 1px solid;
	width: 100%;
	background-color: #f5f5f5;
	padding-left: 20px;
	line-height: 30px;
	border-radius: 4px;
}
.basetcontent , .accountcontent{
	height: auto;
	overflow: hidden;

}
.basetcontent div{
	padding-top: 5px;
	width: 25%;
	float: left;
	text-align: right;
	padding-bottom: 5px;
	min-width: 285px;
}

.accountcontent div{
	width: 25%;
	float: left;
	text-align: right;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
	height: 38px;
	min-width: 285px;
}
.contract{
	padding-left: 5px;
/* 	display: none; */

}
 [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
  display: none !important;
}
ng\:form {
  display: block;
}