.print-web { position:absolute;font-family: "Microsoft YaHei",Tahoma,SimSun , sans-serif; margin:0;padding:0;display: none;}
.fl { float:left}
.fr { float:right}
.print-web {width:800px;margin:0 auto; font-size:14px;color:#000; text-align:left; line-height:160%;}
.print-web table td {padding:4px 0;}
.print-web span {float:left;padding:3px 5px 3px 0;width:94px;}
.print-web span b { font-size:12px; font-weight:normal;}
.print-web u { float:left;width:240px; border-bottom:1px dotted #999;font-style:normal; text-decoration:none;}
.print-web u.xian {min-height:26px;}
.print-web u.xian2 { min-height:34px;padding-top:10px; }

.pt {  padding:10px 5px;min-height:22px; overflow:auto;}
.pt .fl {width:50%; font-weight:bold;}
.pt .fr {width:40%; text-align:right;}
	
	
.pm { border:2px solid #333;padding:15px 25px; }
.pm .title { position:relative;height:90px; text-align:center;border-bottom:2px dashed #000;margin-bottom:15px;}
.pm .title strong { font-size:26px; line-height:40px;}
.pm .zd1 { position:absolute;right:0;top:5px;width:30%; text-align:right;}
.pm .zd1 u.xian { width:210px;  }
.pm .zd2 { border-top:1px dashed #000;height:70px;padding-top:15px;margin-top:20px;}
.pm .zd3 { border-top:2px dashed #000;padding:35px 0 20px 0 ;}

.pb { padding:10px 0; font-size:12px}