<%inherit file="base.html" />
<%def name="right_content()">


<!--导航条--> 
	<div class="notice" id="notice"><h2>现付结算</h2></div>
	<!--导航条end-->  

	<!--主体内容-->  
	<div id="ng-app" class="main"
        ng-app="financeApp"  ng-controller="financeAppCtrl" ng-init="incomeDetail=false;addDetail=false;orderDetail=false;"
        ><div class="p15">

       		<!---->     
			<div class="messageDiv" id="acceptDialog" style="display:none" >
 		 	 <div class="messageBlack"></div>
 		 	 <div class="detail">
  		    	 <div class="head"><h1>提示</h1></div>
    		 	  <div class="con">
      		 	   <p class="f16" style=" text-align:center;padding:30px 0;" ng-bind="messageBox"></p>
      		 	   <p class="action" style=" text-align:center">
      		 	   <input name="确认" type="button" value="确认"  ng-click="" class="btn-orange"/>
      		 	   </p>
     		 	 </div>
  			 </div> 
			</div>     

			<!--开始-->  
			<div class="main-mod main-wcoop">
				<div class="search-div">
					<div class="content">
						<div class="divone"><div class="c">

						<label><strong>选择年份：</strong><select ng-enter="urlCheck()" name="" class="input-s"  ng-model="searchYear">
										<option ng-repeat="year in yearOption" value={{year.value}} ng-bind="year.value">
										
										</option>
										
								</select></label>

						<label><strong>选择月份：</strong><select ng-enter="urlCheck()" name="" class="input-s"  ng-model="searchMonth">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>		
								</select></label>
								
								<label><strong>渠道：</strong><select ng-enter="urlCheck()" name="" class="input-s"  ng-model="searchOtaId">
                    <option value="0">全部</option>
                    <option value="1">去哪儿</option>
                    <option value="2">淘宝旅行</option>
                    <option value="3">美团</option>
                    <option value="4">携程</option>
                    <option value="5">艺龙</option>
                <!--<option value="6">去哪儿(酒店联盟)</option>-->
                <!--<option value="7">去哪儿(快团)</option>-->
                <!--<option value="8">去哪儿(酒店直销)</option>-->
                    <option value="9">百达屋</option>
                <!--<option value="10">携程(团购)</option>-->
										
								</select></label>
																																													

								<label>
									<input name="" type="button" value="搜索" ng-click="urlCheck()"/> <input name="" type="button" value="重置"  ng-click="conditionReset()" class="btn-bai btn-s" />
								</label>


						</div></div>
				    </div>
                </div>

				<div class="willcoop-div" ng-init="">
					<div class="content"><div class="p15">

							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-head">
								<thead><tr>
										
										<th width="25%">渠道</th>
										<th width="25%">应付</th>
										<th width="25%">已付</th>
										<th width="25%">合计</th>
										
								</tr></thead>
							</table> 


							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table01" style="line-height:35px" id="tablerow"
                               >
								<tr ng-repeat="(k,v) in otaOrders">
									
                                    <td width="25%"><a style="color:#0073B7;" href="#" ng-click="ordDetail(k,v)" ng-bind="v['name']"></a></td>

                                    <td width="25%" ng-bind="v['commission']"></td>

                                    <td width="25%" ><a href="#" style="color:#F90;" ng-click="incDetail(k,otaIncomes[k])" ng-bind="incomeCheck(otaIncomes[k]['sum'])"></a></td>
                                    <td width="25%" ng-bind="v['commission']-otaIncomes[k]['sum']"></td>
                                    
								</tr>

                <tr ng-show="allSumShow" ng-cloak>
                    <td width="25%">合计</td>
                    <td width="25%" ng-bind="getAllSum(otaOrders);"></td>
                    
                    <td width="25%" ng-bind="getAllIncome(otaIncomes);"></td>
                    <td width="25%" ng-bind="getAllSum(otaOrders)-getAllIncome(otaIncomes)"></td>


                </tr>
								
							</table>
														   
					</div></div>
				</div>

			</div>
			<!--可合作酒店结束-->  


        <!--income弹窗浮层-->     
<div class="messageDiv"  ng-show="incomeDetail" ng-cloak>
   <div class="messageBlack"></div>
   <div class="detail hotel-detail" style="position:relative">
       <div class="head"><h1>已付列表</h1></div>
       <p id="closeDiv" class="close" href="#" ng-click="closeDetail()">X</p>
       <div class="con" style="height: 300px;overflow: auto;">

       <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-head">
			<thead><tr>
										
				<th style="color:black;background:white" width="25%">账单月</th>
				<th style="color:black;background:white" width="25%">入账时间</th>
				<th style="color:black;background:white" width="25%">金额</th>
				<th style="color:black;background:white" width="25%">备注</th>
										
			</tr></thead>
		</table>  

		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table01" id="tablerow"
                               >
			<tr ng-repeat="inc in currentOtaIncome.incomes">
									
            	<td style="vertical-align: middle;" width="25%"><a href="#" ng-bind="inc['month']"></a></td>

           	 	<td style="vertical-align: middle;" width="25%" ng-bind="inc['create_date']"></td>

            	<td style="vertical-align: middle;" width="25%" ng-bind="inc['value']/100"></td>
            	<td width="25%" ng-bind="inc['remark']" style="word-break: break-all;vertical-align: middle;"></td>
                                    
			</tr>
								
		</table>
         
       </div>

       <a href="#" style="position:absolute;bottom:10px;left:15px;text-decoration: underline;
color: blue;" ng-click="addDetail=true;moneyDetail='';remarkDetail='';">增加</a>
   </div> 
</div>
 <!--income弹窗浮层结束-->    




 <!--order弹窗浮层-->     
<div class="messageDiv"   ng-show="orderDetail" ng-cloak>
   <div class="messageBlack"></div>
   <div class="detail hotel-detail" style="width:1000px;height:auto;margin-left:-500px;min-height:500px;height:500px;margin-top:-250px;"><!--tempheight-->
       <div class="head"><h1>订单列表</h1></div>
       <p id="closeDiv" class="close" href="#" ng-click="orderDetail=false">X</p>
       <div class="con" style="height:auto;min-height:200px;"><!--tempheight-->


        <!--订单开始-->  
            <div class="main-mod main-order">


                <div class="content"><div class="p15" style="min-height:200px;height:420px;overflow:auto"><!--tempheight-->

                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-head" >
                            <thead><tr>
                                    <th width="10%">订单确认号</th>
                                    <th width="10%">酒店名称</th>
                                    <th width="10%">房型</th>
                                    <th width="15%">入离日期</th>
                                    <th width="10%">总价</th>
                                    <th width="10%">预约时间</th>    
                                    <th width="15%">入住人</th>  
                                    <th width="10%">类型</th>  
                                    <th width="10%">状态</th>   
                                    
                                   
                            </tr></thead>
                        </table>

                        <!--单个订单-->
                        <div class="room-main">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table02" >
                                <tr ng-repeat="order in currentOtaOrders.orders">

                                	<td style="vertical-align: middle;" width="10%" >


                                  <a href="#" ng-bind="order.id" ng-click="getCurrentOrder(order);"></a>


                                  </td>
                                    <td style="vertical-align: middle;" width="10%" ng-bind="order.hotel_name"></td>
                                    <td style="vertical-align: middle;" width="10%" ng-bind="order.roomtype_name"></td>

                                    <td style="vertical-align: middle;" width="15%"><span ng-bind="order.checkin_date+'至'"></span><br />
                                       <span ng-bind="order.checkout_date"></span>
                                       <span ng-bind="DateDiff(order.checkin_date,order.checkout_date)"></span>
                                    </td>

                                    <td style="vertical-align: middle;" width="10%" ng-bind="(order.total_price/100)+'元'"></td>    
                                    <td style="vertical-align: middle;" width="10%" ng-init="ordercreatTime=timeConvert(order['create_time'])">

                                    <span ng-bind="ordercreatTime[0]"></span>
                                    <br />
                                    <span ng-bind="ordercreatTime[1]"></span>


                                    </td>

                                    <td style="vertical-align: middle;" width="15%" ng-init="finalinfo=infoconvent(order.customer_info);">

                                    <div ng-repeat="cum in finalinfo" ng-bind="cum['name']">
                                    </div>

                                    </td>

                                    <td width="10%" ng-bind='getConfirmType(order.confirm_type)'>类型</td>  
                                    <td width="10%" ng-bind="checkStatus(order.status)"></td>   
                                    
                               
                                    
                                </tr>
                            </table>
                        </div>  
                        <!--单个订单end-->
                                                                                       
                       <!--页码
                        <div id="pageInfo" class="page" style="display:none">
                                
                          <span  id="pageNumber"  ng-if="directiveCtl" page-info></span>
                
                          <span><span ng-bind="'共'+total+'条，每页'+itemPerPage+'条，每页显示条数：'"></span><select name="" class="input-s"  ng-model="itemPerPage">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                          </select></span>
                      </div>
                      页码end-->        

                </div></div>
            </div>

            <!--订单结束-->  

          
       </div>
   </div> 
</div>
 <!--order弹窗浮层结束-->    








 <!--增加界面开始 -->

			<div class="messageDiv" id="acceptDialog" style="" ng-show="addDetail" ng-cloak>
 		 	 <div class="messageBlack"></div>
 		 	 <div class="detail piliang-room" style="width:400px;margin-left:-200px">
  		    	<div class="head"><h1>增加</h1></div>
    		 	  <div class="con">
      		 	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  					<!--<tr>
    					<td width="125px">入账日期：</td>
    					<td><p ng-bind="timeDetail"></p></td>
  					</tr>-->

  					<tr>
    					<td width="125px">金额：</td>
    					<td><input ng-model="moneyDetail" class="input-t" type="text"/></td>
  					</tr>

  					<tr>
    					<td >备注：</td>
    					<td><input ng-model="remarkDetail" class="input-t" type="text"/></td>
  					</tr>
				</table>
        <p ng-bind="remarkErrMsg" style="padding-left:22px;color:red"></p>

				<p style="text-align:center">
					<input style="height: 26px;width: 60px;position:relative;top:2px;" name="" type="button" value="保存" ng-click="addIncDetail()"/> 
					<input name="" type="button" value="取消"  ng-click="addDetail=false;remarkErrMsg=''" class="btn-bai btn-s" style="height: 26px;width: 60px;margin-left:20px;" />
				</p>
     		 	 </div>
  			 </div> 
			</div> 



  <!--增加界面结束-->






<!--订单详情弹窗浮层-->     
<div class="messageDiv" style="z-index:100000;"  ng-show="detailOrder" ng-cloak>
   <div class="messageBlack"></div>
   <div class="detail hotel-detail" style="width:400px;margin-left:-200px;">
       <div class="head"><h1>订单详情</h1></div>
       <p id="closeDiv" class="close" href="#" ng-click="detailOrder=false;">X</p>
       <div class="con">
           
           <div class="cm2" style="height:350px">


           <table width="100%">
           <tr><td style="width:22%"><strong>订单确认号：</strong></td><td style="width:78%"><span ng-bind="currentOrder['id']"></span></td></tr>


           <tr><td style="width:22%"><strong>类型：</strong></td><td style="width:78%"><span ng-bind="checkPayType(currentOrder['pay_type'])"></span></td></tr>


           <tr><td style="width:22%"><strong>酒店名称：</strong></td><td style="width:78%"><span ng-bind="currentOrder['hotel_name']"></span></td></tr>
           <tr><td style="width:22%"><strong>房型：</strong></td><td style="width:78%"><span ng-bind="currentOrder['roomtype_name']"></span></td></tr>

           <tr><td style="width:22%"><strong>床型：</strong></td><td style="width:78%"><span ng-bind="checkBedType(currentOrder['bed_type'])"></span></td></tr>


           <tr><td style="width:22%"><strong>入离时间：</strong></td><td style="width:78%"><span ng-bind="currentOrder['checkin_date']+'入,'+currentOrder['checkout_date']+'离'"></span></td></tr>


            <tr><td style="width:22%"><strong>预定时间：</strong></td><td style="width:78%"><span ng-bind="currentOrder['create_time']"></span></td></tr>
           <tr><td style="width:22%"><strong>入住人：</strong></td><td style="width:78%">


           <span ng-repeat="cum in detailInfo" ng-bind="cum['name']+'&nbsp;&nbsp'"></span>




           </td></tr>
           <tr><td style="width:22%"><strong>联系人：</strong></td><td style="width:78%"><span ng-bind="currentOrder['contact_name']"></span></td></tr>
           <tr><td style="width:22%"><strong>联系电话：</strong></td><td style="width:78%"><span ng-bind="currentOrder['contact_mobile']"></span></td></tr>

             <tr><td style="width:22%"><strong>取消规则：</strong></td><td style="width:78%"><span ng-bind="getCancelStatus(currentOrder['cancel_type'],currentOrder['punish_type'])"></span></td></tr>
           <tr><td style="width:22%"><strong>价格类别：</strong></td><td style="width:78%"><span ng-bind="currentOrder['rateplan_name']"></span></td></tr>

           <tr><td style="width:22%"><strong>早餐数：</strong></td><td style="width:78%"><span ng-bind="checkBreakFast(currentOrder['breakfast'])"></span></td></tr>

           
           <tr><td style="width:22%"><strong>每日价格：</strong></td><td style="width:78%"><span ng-bind="checkEveryPrice(currentOrder['everyday_price'])"></span></td></tr>
           <tr><td style="width:22%"><strong>总价：</strong></td><td style="width:78%"><span ng-bind="currentOrder['total_price']/100"></span></td></tr>
            <tr><td style="width:22%"><strong>拒绝理由：</strong></td><td style="width:78%"><span ng-bind="resonStatusCheck(currentOrder['status'],currentOrder['extra'])"></span></td></tr>
           <tr><td style="width:22%"><strong>备注：</strong></td><td style="width:78%"><span ng-bind="currentOrder['customer_remark']"></span></td></tr>

          
           </table>
              
           </div>
          
       </div>
   </div> 
</div> 
 <!--订单详情浮层结束-->   





	</div></div>
	<!--主体内容end--> 






</%def>

<%def name="end()">


    <script src="${static_url('js/financeAgency.js')}"></script>

    <style type="text/css">

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }


    </style>
   
</%def>
