<%inherit file="base.html" />
<%def name="right_content()">
<div id="ng-app"
    ng-app="hotelInventoryApp"
    ng-controller="hotelInventoryCtrl"
    >
<!--导航条--> 
<div class="notice" id="notice"><h2 ng-bind="'当前酒店：'+hotel.name"></h2></div>
<!--导航条end--> 



<!--提示信息-->     
            <div class="messageDiv" ng-show="errorHint" ng-cloak>
               <div class="messageBlack"></div>
               <div class="detail" style="height:150px;">
                   <div class="head"><h1>提示信息</h1></div>
                   <p id="closeDiv" class="close" href="#" ng-click="errorHint=false;">X</p>
                   <div class="con">
                      <p class="f16" style=" text-align:center;padding:30px 0;">操作失败，请稍后重试</p>
                   </div>
               </div> 
            </div>
<!--提示信息--> 

<!--loading-->
            <div class="messageDiv" ng-show="ifloading" style="z-index:999999" ng-cloak> 
                <div class="messageBlack">
                    <img style="width: 90px;height: 90px;position: absolute;left: 50%;top: 50%;
                     margin-top: -50px;margin-left: -50px;" src="${static_url('image/load1.gif')}"/>
                </div>
            </div>   

 <!--删除提示-->     
            <div class="messageDiv"  ng-show="confirmCancel" ng-cloak>
                <div class="messageBlack"></div> 
                    <div class="detail">
                    <div class="head"><h1>提示</h1></div>
                    <div class="con">
                        <p class="f16" style=" text-align:center;padding:30px 0;">确认要删除吗？</p>
                        <p ng-show="deleteRoomErr" style="font-size:13px;margin-left:10px;color:red">操作失败，请稍后重试</p>
                        <p class="action" style=" text-align:center">
                        <input name="确认" type="button" value="确认"  ng-click="confirmOk()" class=""/>
                        <input name="取消" type="button" value="取消"  ng-click="confirmCancel=false;" class="btn-bai"/>
                        </p>
                    </div>
                </div> 
            </div>  

 <!--删除提示-->  

 <!--关闭房型提示-->     
            <div class="messageDiv"  ng-show="roomConfirmCancel" ng-cloak> 
                <div class="messageBlack"></div>
                    <div class="detail">
                    <div class="head"><h1>提示</h1></div>
                    <div class="con">
                        <p ng-show="!currentIsOnline" class="f16" style=" text-align:center;padding:30px 0;">确认要关闭该房型吗？</p>
                        <p ng-show="currentIsOnline" class="f16" style=" text-align:center;padding:30px 0;">确认要打开该房型吗？</p>
                        <p ng-show="isOnlineErr" style="font-size:13px;margin-left:10px;color:red">操作失败，请稍后重试</p>
                        <p class="action" style=" text-align:center">
                        <input name="确认" type="button" value="确认"  ng-click="roomCloseConfirm()" />
                        <input name="取消" type="button" value="取消"  ng-click="roomConfirmCancel=false;" class="btn-bai"/>
                        </p>
                    </div>
                </div> 
            </div>  

 <!--关闭房型提示-->     



<!--主体内容-->  
<div class="main"
    ><div class="p15">

        <!--已合作酒店开始-->  
        <div class="main-rchoose" > 
            <ul class="menu-title">
                <li><a href="/hotel/cooped/${hotel_id}/inventory/" class="active">房量房态</a></li>
                <li><a href="/hotel/cooped/${hotel_id}/rateplan/">房价金额</a></li>
            </ul>

        </div>

        <div class="main-room"><div class="content">
                <div class="p15">

                    <div class="choosem">                 
                        <div class="left">选择操作月份：
                            <select name="" class="input-s"
                                ng-model="monthvalue"  ng-options="conventIdInt(key) as (value.month+'月') group by value.year+'年' for  (key , value) in months | monthObjectBy:'' "                             
                                >
                                <!--<option  value={{$index+1}}  ng-repeat="i in months" ng-bind="i.year+'年'+i.month+'月'"></option>-->

                            </select></div>

                    </div>


                      <div class="form form1"
                        ng-repeat="room in cooped" ng-init="index=$index" ng-cloak>
                        <div class="roomhead"><h1 style="position:relative;background:url('');padding-left:20px" ng-click="roomDescribe($index);"><span ng-bind="room.name"></span><span>--剩余房量</span></h1><span></span>
                         <!--   <div class="eachroom" style=" display:none;background:#EBEBED">
                                <label><span ng-bind="'房型名称：'+room.name"></span><a class="a-blue" ng-click="roomDescribe($index)">[房型详情]</a></label>
                                <label style="line-height:30px;margin-top:10px;">自定义房型名称：<span style="display:inline-block;background:white"><input id={{"prefixId-"+$index}} ng-init="prefixName=room.prefix_name" style="" type="text"  ng-value="room.prefix_name"  ng-model="prefixName" class="input-t"  />
                                                             
                                    <span style="position:relative;left:-7px;" ng-bind='room.name'></span>
                                        <input id={{"remarkId-"+$index}} style="position:relative;left:-7px" type="text" ng-value="room.remark_name"  ng-model="remarkName" ng-init="remarkName=room.remark_name"  class="input-t"  /> 
                                     </span>
                                     <span id={{"exampleDiv-"+$index}} style="font-weight:normal;" ng-mouseover="hotelHeadDialog.exampleDivIn($index);" ng-mouseleave="hotelHeadDialog.exampleDivLeave($index);">?
                                     </span> 
                                    </label>
                                                              
                                <label>
                                <input name=""  ng-click="hotelHeadDialog.save($index);" type="button" value="保存" class="btn-s"  />
                                    <input name=""  ng-click="hotelHeadDialog.eachhide($index);"  type="button" value="取消" class="btn-s btn-bai"  /></label>
                            </div>-->


                            <input type="button" ng-click="cancelBtn($index)" style="height:29px;width:60px;position:absolute;right:0px;bottom:5px;" value="删除" class="btn-bai"/>

                            <input type="button" ng-show="room.is_online" ng-click="roomClose($index,0)" style="height:29px;width:60px;position:absolute;right:65px;bottom:5px;" value="关房"/>

                            <input type="button" ng-show="!room.is_online" ng-click="roomClose($index,1)" style="height:29px;width:60px;position:absolute;right:65px;bottom:5px;" value="开房"/>


                        </div>

                     
                        <table width="100%" border="0" cellspacing="1" cellpadding="0" class="table03 room-table01" >
                            <thead><tr>
                                    <th class="table-title">日期</th>

                                    <th id={{"dayth"+monthvalue+""+day.day}} ng-repeat="day in dayWeekSum" ng-style="day.textcolor"><span ng-bind="day.day"></span><br/><span ng-bind="day.weekday"></span></th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-title">自动确认房量</td>
                                    <td class={{numauto.classStyle}} ng-repeat="numauto in roomNumAuto[room.id] | orderObjectBy:'' ">

                                    <span id={{room.id+"-auto"+$index}}  ng-click=changeNum((room.id+"-auto"+$index),(numauto.classStyle),(room.cooped_roomtype_id),(index),0,$index); ng-bind="numauto.autoNum"></span></td>
                                  
                                </tr>
                                <tr>
                                    <td class="table-title">手工确认房量</td>
                                     <td class={{numhead.classStyle}} ng-repeat="numhead in roomNumHand[room.id] | orderObjectBy:''">

                                     <span id={{room.id+"-head"+$index}}  ng-click=changeNum((room.id+"-head"+$index),(numhead.classStyle),(room.cooped_roomtype_id),(index),1,$index); ng-bind="numhead.headNum"></span>

                                     </td>
                                    
                                </tr>
                            </tbody>
                        </table>             
                    </div>

                    <div class="form"><input name="" type="button" value="增加可合作房型" class="" style="width:150px" id="openBtn" ng-click="newRoomType()"/></div>

                    <div class="room-tips">
                        标识说明：<span>剩余可售房量</span><span>不可操作</span><span>关闭</span>
                        <p>（单击单元格进行修改房量操作。房量数设置为0即为关闭）</p>
                    </div>


                </div>
        </div></div>
        <!--已合作酒店结束-->  

</div></div>
<!--主体内容end--> 



<!--房型概述弹窗浮层-->     
<div class="messageDiv" id="cool-roomtype"  style="z-index:99999;display:none">
   <div class="messageBlack"></div>
   <div class="detail detail-roomtype">
       <div class="head"><h1>房型概述</h1></div>
       <p id="closeDiv" class="close" ng-click="roomDescribeClose()">X</p>
       <div class="con"><div class="cm">
           <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="90"><strong>房型名称：</strong></td>
    <td ng-bind="roomDescribeInfo['name']"></td>
  </tr>
  <tr>
    <td><strong>房间大小：</strong></td>
    <td ng-bind="roomDescribeInfo['area']"></td>
  </tr>
  <tr>
    <td><strong>床型：</strong></td>
    <td ng-bind="roomDescribeInfo['bed_type']"></td>
  </tr>
  <tr>
    <td><strong>楼层：</strong></td>
    <td ng-bind="roomDescribeInfo['floor']"></td>
  </tr>
  <tr>
    <td><strong>入住人数：</strong></td>
    <td ng-bind="roomDescribeInfo['capacity']"></td>
  </tr>
  <tr>
    <td><strong>设施：</strong></td>
    <td><span ng-repeat="facility in roomDescribeInfo['facility']" ng-bind="facility+'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'"></span></td>
  </tr>
  <tr>
    <td><strong>描述：</strong></td>
    <td ng-bind="roomDescribeInfo['description']"></td>
  </tr>
 
</table>

       </div></div>
   </div> 
</div>   
<!--房型概述弹窗浮层end-->   

<!--修改房量弹窗浮层-->     
<div class="messageDiv" id="openDiv1" style=" display:none">
   <div class="messageBlack"></div>
   <div class="detail piliang-room" style="margin-top:-155px">
       <div class="head"><h1>修改房量</h1></div>
       <div class="con">
           <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="80">房型：</td>
    <td ng-bind="cooped[currentIndex]['name']"></td>
  </tr>
  <tr>
    <td>日期：</td> 
    <td><input type="text" name="timeStart" id="timeStart"  class="input-time" readonly="readonly"/ > 至 
                     <input type="text" name="timeEnd" id="timeEnd"  class="input-time" readonly="readonly"/></td>
  </tr>
  <tr>
    <td>房量调整：</td>
    <td><input name="" id="roomNumCount" type="text" class="input-t"  placeholder="输入数字" ng-model="num"/></td>    
  </tr>
</table>
<p style="padding-left:32px;color:red" ng-bind="changeNumDialog.errmsg"></p>
          <p class="action" style=" text-align:center">
          <input name="" type="button" value="设置为0" ng-click="changeNumDialog.zeroSave()" class="sure-more btn-bai" />
          <input name="" type="button" ng-click="changeNumDialog.addSave()" ng-value="'加'+filterNum(num)+'房量'"  class="sure-more" />
           <input name="" type="button" ng-click="changeNumDialog.minusSave()" ng-value="'减'+filterNum(num)+'房量'" class="sure-more" />
          <input name="" ng-click="changeNumDialog.close()" type="button" value="取消" class="btn-bai"  />
          </p>
       </div>
   </div> 
</div>   
<!--修改房量弹窗浮层end-->   
 
 
<!--房量修改再次确认浮层-->    
<div class="messageDiv" id="openDiv2" style=" display:none;" >
   <div class="messageBlack"></div>
   <div class="detail" style="width:300px;margin-left:-150px;" >
       <div class="con">
           <p class="f16" style=" text-align:center;padding:30px 0;">是否确认修改？</p>

          <p class="action" style=" text-align:center">
          <input name="" type="button" value="确认" class="btn" />
          <input name="" type="button" value="取消" class="btn-no btn-bai"  />
          </p>
       </div>
   </div> 
</div>   
<!--房量修改再次确认浮层end-->  







<!--可合作房型弹窗浮层-->     
<div class="messageDiv" id="roomtype-list" style=" display:none">
   <div class="messageBlack"></div>
   <div class="detail detail-roomlist">
       <div class="head"><h1>房型列表</h1></div>
       <div class="con">
       
          <div class="cm">
          <h2>您已合作的房型：</h2>
          <p><span ng-repeat="coopedRoom in cooped" ng-bind="coopedRoom.name+'    '"></span></p>
          
          <h2>选择你想要合作的房型：<span><a class="a-blue" href="http://wpa.qq.com/msgrd?v=3&uin=1816777547&site=qq&menu=yes" target="_blank">没有您要合作的房型？联系客服</a></span></h2>
          <div class="list">
              <label ng-repeat="willCoopRoom in willCoop">
              <input name="" type="checkbox" ng-model="willCoopRoom.isChecked" value="" /><span ng-bind="willCoopRoom.name"></span><a class="a-blue" ng-click="willroomDescribe($index)">[房型详情]</a>
              </label>
          </div>
          </div>
          <p style="color:red;margin-left:20px" ng-show="coopedError">操作失败，请稍后重试</p>
          <p class="action" style=" text-align:center; ">
            <input name="" type="button" value="确认" ng-click="saveNewRoomType()" />
            <input name="" type="button" value="取消" ng-click="closeRoomType()" class="btn-bai"  />
          </p>
       </div>
   </div> 
</div>   
<!--可合作房型弹窗浮层end-->  

</div>
</%def>

<%def name="end()">
    <script>
        var hotelId = ${hotel_id};
    </script>

    <link rel="stylesheet" type="text/css" href="${static_url('css/bootstrap-datepicker3.css')}">

    <script type="text/javascript" src="${static_url('js/bootstrap.min.js')}"></script>
    <script type="text/javascript" src="${static_url('js/bootstrap-datepicker.js')}"></script>
    <script type="text/javascript" src="${static_url('js/bootstrap-datepicker.zh-CN.min.js')}"></script>


    <script src="${static_url('js/hotelInventory.js')}"></script>
</%def>

