<%inherit file="base.html" />

<!--右侧部分--> 
<%def name="right_content()">
	<!--导航条--> 
	<div class="notice" id="notice"><h2>可合作酒店</h2></div>
	<!--导航条end-->  

	<!--主体内容-->  
	<div id="ng-app" class="main"
        ng-app="hotelWillCoopApp"  ng-controller="hotelWillCoopContentCtrl"
        ><div class="p15">

        	<!--提示信息-->     
		    <div class="messageDiv" style="z-index:99999" ng-show="errorHint" ng-cloak>
		       <div class="messageBlack"></div>
		       <div class="detail" style="height:150px;">
		           <div class="head"><h1>提示信息</h1></div>
		           <p id="closeDiv" class="close" href="#" ng-click="errorHint=false;">X</p>
		           <div class="con">
		              <p class="f16" style=" text-align:center;padding:30px 0;">操作失败，请稍后重试</p>
		           </div>
		       </div> 
		    </div>
			<!--提示信息--> 

			<!--loading-->
            <div class="messageDiv" ng-show="ifloading" style="z-index:999999" ng-cloak> 
                <div class="messageBlack">
                    <img style="width: 90px;height: 90px;position: absolute;left: 50%;top: 50%;
                     margin-top: -50px;margin-left: -50px;" src="${static_url('image/load1.gif')}"/>
                </div>
            </div>
            <!--loading-->


       		<!--酒店弹窗浮层-->     
			<div class="messageDiv" id="acceptDialog" style="display:none" >
 		 	 <div class="messageBlack"></div>
 		 	 <div class="detail">
  		    	 <div class="head"><h1>提示</h1></div>
    		 	  <div class="con">
      		 	   <p class="f16" style=" text-align:center;padding:30px 0;" ng-bind="messageBox"></p>
      		 	   <p class="action" style=" text-align:center">
      		 	   <input name="确认" type="button" value="确认"  ng-click="confirmResult();" class="btn-orange"/>
      		 	   </p>
     		 	 </div>
  			 </div> 
			</div>     

			<!--可合作酒店开始-->  
			<div class="main-mod main-wcoop">


				<div class="search-div">
					<div class="content">
						<div class="divone"><div class="c">
								<label><strong>酒店名称：</strong><input style="padding-left:5px;" ng-enter="urlCheck(1)" name="" type="text" value="" class="input-t" ng-model="searchName"/></label>
								<label ><strong>城市：</strong></label>

								<label>
  								<input ng-enter="urlCheck(1)" style="height:25px;line-height:25px;margin-top: 1px;padding:0px"  type="text" ng-model="citysName.selected" id="searchCity" typeahead="city for city in citysName | filter:$viewValue | limitTo:8" class="form-control" >
								</label>

								<label><strong>区域：</strong>
								<select ng-enter="urlCheck(1)" name="" class="input-s" 
									ng-model="searchDistrict" ng-options="c.id as c.name for c in changeDistrictName">
								</select></label>

								<!--<input  name=""  type="text" value="" class="input-t" ng-model="searchCity"/> -->

								<!--<div id="cityShow" style="display:none;overflow:auto;position:absolute;width:140px;height:80px;background:white;top:185px;left:490px">
								<div style="width:100%"  ng-click="cityChoose(city);" ng-repeat="city in cityList">{{city}}</div>
								
								</div> -->
							
								<label><strong>星级：</strong><select ng-enter="urlCheck(1)" name="" class="input-s"  ng-model="searchStar">
										<option value=""></option>
										<option value="0">不限</option>
										<option value="1">一星级</option>
										<option value="2">二星级</option>
										<option value="3">三星级</option>
										<option value="4">四星级</option>
										<option value="5">五星级</option>
								</select></label>

								<label>
									<input name="" type="button" value="搜索" ng-click="urlCheck(1)"/> <input name="" type="button" value="重置"  ng-click="conditionReset()" class="btn-bai btn-s" />
								</label>
						</div></div>
				    </div>
                </div>

				<div class="willcoop-div" ng-init="">
					<div class="content"><div class="p15">

							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-head">
								<thead><tr>
										<th width="10%"><input ng-click="checkStatus=!checkStatus" ng-checked="checkStatus" name="input2" type="checkbox" value="" />全选</th>
										<th width="20%">酒店名称</th>
										<th width="6%">星级</th>
										<th width="6%">城市</th>
										<th width="8%">区域</th>
										<th width="20%">地址</th>
										<th width="15%">电话</th>
										<th width="7%">状态</th>
										<th width="8%">操作</th>
								</tr></thead>
							</table> 
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table01" id="tablerow" ng-cloak>
								<tr ng-repeat="hotel in hotels">
									<td width="10%"><input ng-checked="checkStatus" name="checkBox" type="checkbox" value="" /></td>
                                    <td width="20%" ng-bind="hotel.name"></td>
                                    <td width="6%" ng-bind="getHotelStar(hotel.star)"></td>
                                    <td width="6%" ng-bind="getCityName(hotel.city_id)"></td>
                                 	<td width="8%" ng-bind="hotel.district_name"></td>
                                    <td width="20%" ng-bind="hotel.address"></td>
                                    <td width="15%" ng-bind="hotel.phone"></td>
									<td width="7%">可申请合作</td>
									<td class="action" width="8%"><input name="" type="button" value="申请合作" class="btn-s btn-bai" ng-click="cooprate(hotel,$index)"/></td>
								</tr>
								</tbody>
							</table>
							<div class="btn-div">
								<input name="input" type="button" value="将选择酒店全部申请合作" ng-click="checkedHotel()" class="btn-s btn-bai" id="choose-all" />
							</div>

							<!--页码-->
							<div id="pageInfo" class="page" style="display:none">								
								<span  id="pageNumber"  key='currentPage' itemkey='itemPerPage' itemcount='pageCount'  myclick='urlCheck(currentPage)' ng-if="directiveCtl" page-info></span>
                                <span><span ng-bind="'每页'+itemPerPage+'条，每页显示条数：'"></span><select name="" class="input-s"  ng-model="itemPerPage">
										<option value="10">10</option>
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option>
								</select></span>
							</div>
							<!--页码end-->     
					</div></div>
				</div>

			</div>
			<!--可合作酒店结束-->  

	</div></div>
	<!--主体内容end--> 

</%def>

<%def name="end()">

<script src="${static_url('js/ui-bootstrap-tpls.js')}"></script>
<link rel="stylesheet" type="text/css" href="${static_url('css/cityinput.css')}"> 

<script src="${static_url('js/hotelPageDirectives.js')}"></script>
<script src="${static_url('js/hotelWillCoop.js')}"></script>
</%def>
