<%inherit file="base.html" />
<%def name="right_content()">

<div
    ng-app="orderListApp"
    
    >

    <!--导航条--> 
    <div class="notice" id="notice"><h2>订单查询</h2></div>
    <!--导航条end-->  

    <!--主体内容-->  
    <div class="main"><div class="p15">



            <!--订单查询开始-->  
            <div class="main-osearch"><div class="content">

                    <div class="tabList">
                        <ul>
                            <li><a href="#" onclick="easytabs('1', '1');" onfocus="easytabs('1', '1');" title="" id="tablink1" class="tabactive" >今日预订列表</a></li>
                            <li><a href="#" onclick="easytabs('1', '2');" onfocus="easytabs('1', '2');" title="" id="tablink2">今日入住列表</a></li>
                            <li><a href="#" onclick="easytabs('1', '3');" onfocus="easytabs('1', '3');" title="" id="tablink3">按条件查询</a></li>
                        </ul>
                    </div>


                    <div class="tabCon" >
                        <div id="tabcontent1" class="tabcon1" style=" display:block" ng-controller="orderListBookCtrl">

                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-head" >
                                <thead><tr>
                                        <th width="13%">订单确认号</th>
                                        <th width="15%">酒店名称</th>
                                        <th width="10%">房型</th>
                                        <th width="15%">入离日期</th>
                                        <th width="12%">预约时间</th>
                                        <th width="8%">入住人</th>
                                        <th width="7%">类型</th>
                                        <th width="8%">总价</th>
                                        <th width="5%">状态</th>
                                        <th width="7%">打印</th>
                                </tr></thead>
                            </table>

                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table01" id="tablerow">
                                <tr ng-repeat="book in todayBook">
                                    <td width="13%">订单确认号</td>
                                        <td width="15%">{{book.hotel_name}}</td>
                                        <td width="10%">{{book.room_type_name}}</td>
                                        <td width="15%">{{book.checkin_date}}至<br />
                                        {{book.checkout_date}}（2晚）</td>
                                        <td width="12%">{{book["create_time"][0]}}<br />
                                         {{book["create_time"][1]}}</td>
                                        <td width="8%"> <div ng-repeat="cum in book['customer_info']">{{cum["name"]}}<div></td>
                                        <td width="7%">类型</td>
                                        <td width="8%"><em class="price">{{book.everyday_price}}</em></td>
                                        <td width="5%">接受</td>
                                    <td width="7%"><input name="" type="button" value="" class="btn-print" title="打印订单详情" /></td>
                                </tr>
                                                                                                                     
                            </table>

                            <!--页码-->
                            <div id="pagebookInfo" class="page">
                                
                            <span  id="pagebookNumber"  ng-if="directiveCtl" page-info></span>
                                
                                <span>共{{total}}条，每页{{itemPerPage}}条，每页显示条数：<select name="" class="input-s"  ng-model="itemPerPage">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                </select></span>
                              
                                
                            </div>
                            <!--页码end-->               
                        </div>

                        <div id="tabcontent2" class="tabcon2" style=" display:none" ng-controller="orderListCheckCtrl">
                            　
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-head" >
                                <thead><tr>
                                        <th width="13%">订单确认号</th>
                                        <th width="15%">酒店名称</th>
                                        <th width="10%">房型</th>
                                        <th width="15%">入离日期</th>
                                        <th width="12%">预约时间</th>
                                        <th width="8%">入住人</th>
                                        <th width="7%">类型</th>
                                        <th width="8%">总价</th>
                                        <th width="5%">状态</th>
                                        <th width="7%">打印</th>
                                </tr></thead>
                            </table>


                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table01" id="tablerow2">
                                <tr ng-repeat="check in todayCheckIn">
                                    <td width="13%">订单确认号</td>
                                        <td width="15%">{{check.hotel_name}}</td>
                                        <td width="10%">{{check.room_type_name}}</td>
                                        <td width="15%">{{check.checkin_date}}至<br />
                                        {{check.checkout_date}}（2晚）</td>
                                        <td width="12%">{{check["create_time"][0]}}<br />
                                         {{check["create_time"][1]}}</td>
                                        <td width="8%"> <div ng-repeat="cum in check['customer_info']">{{cum["name"]}}<div></td>
                                        <td width="7%">类型</td>
                                        <td width="8%"><em class="price">{{check.everyday_price}}</em></td>
                                        <td width="5%">接受</td>
                                    <td width="7%"><input name="" type="button" value="" class="btn-print" title="打印订单详情" /></td>
                                </tr>

                                
                            </table>

                             <!--页码-->
                            <div  id="pagecheckInfo"  class="page">
                                
                            <span  id="pagecheckNumber"  ng-if="directiveCtl" page-info></span>
                                
                                <span>共{{total}}条，每页{{itemPerPage}}条，每页显示条数：<select name="" class="input-s"  ng-model="itemPerPage">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                </select></span>
                              
                                
                            </div>
                            <!--页码end-->                  
                        </div>





                        <div id="tabcontent3" class="tabcon3" style=" display:none" ng-controller="orderListQueryCtrl">

                            <div class="search-div">
                                <div class="divone">
                                    <label>订单确认号： <input name="" type="text" ng-model="searchOrderId" class="input-t"/></label>
                                    <label>酒店名称： <input name="" type="text" ng-model="searchHotelName" class="input-t"/></label>


                                    <label >入住日期： <input type="text"  name="time1" id="liveStarTime" onclick="WdatePicker()" value="" class="input-time"/ > 至 
                                        <input type="text"  name="time2" id="liveEndTime" onclick="WdatePicker()" value="" class="input-time"/>
                                    </label>

                                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;入住人： <input ng-model="searchInPeople" name="" type="text" value="" class="input-t"/></label>

                                    <label>操作状态： <select name="" class="input-s" ng-model="searchStatus" >
                                            <option value="0">不限</option>
                                            <option value="1">接受</option>
                                            <option value="2">拒绝</option>
                                    </select></label>

                                    <label >下单日期： <input type="text"  name="ListStarTime" id="ListStarTime" onclick="WdatePicker()" value="" class="input-time"/ > 至 
                                        <input type="text"  name="time2" id="ListEndTime" onclick="WdatePicker()" value="" class="input-time"/>
                                    </label>

                                </div>
                            </div>



                            <div class="choose-div">
                                <div class="left content">
                                    <input name="" type="button" value="搜索" ng-click="urlCheck(1)"/>
                                    <input name="" type="button" value="重置"   class="btn-bai btn-s" /> 

                                </div>
                                <!-- <div class="btn-div right"> <input name="input" type="button" value="导出所选" class="btn-s btn-bai"  /></div>  -->
                            </div>

                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-head" >
                                <thead><tr>
                                        <th width="13%">订单确认号</th>
                                        <th width="15%">酒店名称</th>
                                        <th width="10%">房型</th>
                                        <th width="15%">入离日期</th>
                                        <th width="12%">预约时间</th>
                                        <th width="8%">入住人</th>
                                        <th width="7%">类型</th>
                                        <th width="8%">总价</th>
                                        <th width="5%">状态</th>
                                        <th width="7%">打印</th>
                                </tr></thead>
                            </table>


                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table01" id="tablerow3">
                                <tr ng-repeat="query in queryList">
                                    <td width="13%">订单确认号</td>
                                        <td width="15%">{{query.hotel_name}}</td>
                                        <td width="10%">{{query.room_type_name}}</td>
                                        <td width="15%">{{query.checkin_date}}至<br />
                                        {{query.checkout_date}}（2晚）</td>
                                        <td width="12%">{{query["create_time"][0]}}<br />
                                         {{query["create_time"][1]}}</td>
                                        <td width="8%"> <div ng-repeat="cum in query['customer_info']">{{cum["name"]}}<div></td>
                                        <td width="7%">类型</td>
                                        <td width="8%"><em class="price">{{query.everyday_price}}</em></td>
                                        <td width="5%">接受</td>
                                    <td width="7%"><input name="" type="button" value="" class="btn-print" title="打印订单详情" /></td>
                                </tr>
                               
                            </table>



                             <!--页码-->
                            <div  id="pagequeryInfo"  class="page">
                                
                            <span  id="pagequeryNumber"  ng-if="directiveCtl" page-info></span>
                                
                                <span>共{{total}}条，每页{{itemPerPage}}条，每页显示条数：<select name="" class="input-s"  ng-model="itemPerPage">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                </select></span>                                                            
                            </div>
                            <!--页码end-->   

                                          

                        </div>
                    </div>




            </div></div>
            <!--订单查询结束-->  


    </div></div>
    <!--主体内容end--> 


</div>


</%def>

<%def name="end()">
<script src="${static_url('js/pageDirectives.js')}"></script>

<script src="${static_url('js/orderList.js')}"></script>
<script src="${static_url('js/menu-tab.js')}"></script>
</%def>
