<%inherit file="base.html" />
<%def name="right_content()">

<div id="ng-app"
    ng-app="orderListApp"
    
    >

    <!--导航条--> 
    <div class="notice" id="notice"><h2>订单查询</h2></div>
    <!--导航条end-->  

    <!--主体内容-->  
    <div class="main"><div class="p15">



            <!--订单查询开始-->  
            <div class="main-osearch"><div class="content">

                    <div class="tabList">
                        <ul>
                            <li><a href="#" onclick="easytabs('1', '1');" onfocus="easytabs('1', '1');" title="" id="tablink1" class="tabactive" >今日预订列表</a></li>
                            <li><a href="#" onclick="easytabs('1', '2');" onfocus="easytabs('1', '2');" title="" id="tablink2">今日入住列表</a></li>
                            <li><a href="#" onclick="easytabs('1', '3');" onfocus="easytabs('1', '3');" title="" id="tablink3">按条件查询</a></li>
                        </ul>
                    </div>


                    <div class="tabCon" >
                        <div id="tabcontent1" class="tabcon1" style=" display:block" ng-controller="orderListBookCtrl">

                            


<!--订单详情弹窗浮层-->     
<div class="messageDiv" id="bookhotel-detail" style=" display:none">
   <div class="messageBlack"></div>
   <div class="detail hotel-detail" style="width:400px;margin-left:-200px;">
       <div class="head"><h1>订单详情</h1></div>
       <p id="closeDiv" class="close" href="#" ng-click="closeDetail()">X</p>
       <div class="con">
           
           <div class="cm2" style="height:350px">


           <table width="100%">
           <tr><td style="width:22%"><strong>订单确认号：</strong></td><td style="width:78%"><span ng-bind="currentOrder['id']"></span></td></tr>
           <tr><td style="width:22%"><strong>酒店名称：</strong></td><td style="width:78%"><span ng-bind="currentOrder['hotel_name']"></span></td></tr>
           <tr><td style="width:22%"><strong>房型：</strong></td><td style="width:78%"><span ng-bind="currentOrder['roomtype_name']"></span></td></tr>
           <tr><td style="width:22%"><strong>入离时间：</strong></td><td style="width:78%"><span ng-bind="currentOrder['checkin_date']"></span></td></tr>


            <tr><td style="width:22%"><strong>预定时间：</strong></td><td style="width:78%"><span ng-bind="currentOrder['create_time'].join('  ')"></span></td></tr>
           <tr><td style="width:22%"><strong>入住人：</strong></td><td style="width:78%">


           <span ng-repeat="cum in currentOrder['customer_info']" ng-bind="cum['name']"></span>




           </td></tr>
           <tr><td style="width:22%"><strong>联系人：</strong></td><td style="width:78%"><span ng-bind="currentOrder['contact_name']"></span></td></tr>
           <tr><td style="width:22%"><strong>联系电话：</strong></td><td style="width:78%"><span ng-bind="currentOrder['contact_mobile']"></span></td></tr>

             <tr><td style="width:22%"><strong>取消规则：</strong></td><td style="width:78%"><span ng-bind="getCancelStatus(currentOrder['cancel_type'])"></span></td></tr>
           <tr><td style="width:22%"><strong>价格代码名称：</strong></td><td style="width:78%"><span ng-bind="currentOrder['rateplan_name']"></span></td></tr>
           <tr><td style="width:22%"><strong>每日价格：</strong></td><td style="width:78%"><span ng-bind="currentOrder['everyday_price']"></span></td></tr>
           <tr><td style="width:22%"><strong>总价：</strong></td><td style="width:78%"><span ng-bind="currentOrder['total_price']"></span></td></tr>
            <tr><td style="width:22%"><strong>拒绝理由：</strong></td><td style="width:78%"><span ng-bind="resonStatusCheck(currentOrder['status'],currentOrder['extra'])"></span></td></tr>
           <tr><td style="width:22%"><strong>备注：</strong></td><td style="width:78%"><span ng-bind="currentOrder['']"></span></td></tr>

          
           </table>
              
           </div>
          
       </div>
   </div> 
</div> 
 <!--订单详情浮层结束-->   











                            <!--打印订单详情-->

    <div class="print-web" id="printwebbook">
  <div class="pt">
    <div class="fl">Fax NO.：  </div>
    <div class="fr">TO：</div>
  </div>
  <div class="pm">

       <div class="title"><strong>预       订      单</strong><br />
         Reservtion Form <div class="zd1"> 订单确认号(Confirmation No.)：<br /><u class="xian" style="position:absolute;right:2px"></u></div> 
         </div>

    <table class="pmtable" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="58%"><span>入住人：<br /><b>Guest Name:</b></span><u class="xian2"  ><span ng-repeat="cum in currentOrder['customer_info']" ng-bind="cum['name']"></span></u></td>
    <td width="42%"><span>是否确认：<br /><b>Confirm State:</b></span><u class="xian2">&nbsp;&nbsp;&nbsp;⚘&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⚘&nbsp;否</u></td>
  </tr>
  <tr>
    <td><span>酒店名称：<br /><b>Hotel Name:</b></span><u class="xian2" ng-bind="currentOrder['hotel_name']"></u></td>
    <td><span>付款状态：<br />
      <b>Payment State:</b></span><u class="xian2">&nbsp;&nbsp;&nbsp;⚘&nbsp;已付&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⚘&nbsp;未付</u></td>
  </tr>
  <tr>
    <td><span>房&nbsp;&nbsp;&nbsp;型：<br /><b>Cancel Rules:</b></span><u class="xian2" ng-bind="currentOrder['roomtype_name']"></u></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><span>价&nbsp;&nbsp;&nbsp;格：<br /><b>Price:</b></span><u class="xian2" ng-bind="currentOrder['total_price']"></u></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><span>到店日期：<br /><b>Arrival Date:</b></span><u class="xian2" ng-bind="currentOrder['checkin_date']"></u></td>
    <td><span>离店日期：<br /><b>Departure Date:</b></span><u class="xian2" ng-bind="currentOrder['checkout_date']"></u></td>
  </tr>
  <tr>
    <td><span>到店时间：<br /><b>Arrival Time:</b></span><u class="xian2"></u></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><span>预订时间：<br /><b>Booking Time:</b></span><u class="xian2" ng-bind="currentOrder['create_time'].join('  ')"></u></td>
    <td>&nbsp;</td>
  </tr>
  </table>
  
  <div class="zd2"><span> 取消规则：<br /><b>Cancel Rules:</b></span><u class="xian2" style="width:86%" ng-bind="getCancelStatus(currentOrder['cancel_type'])"></u></div> 
  <div class="zd3">
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="53%"><span>确认人：</span><u class="xian"></u></td>
    <td width="47%"><span>确认时间：</span><u class="xian"></u></td>
    </tr>
  </table>
  </div>

  
  </div>
  <div class="pb">备注：如有需要请传真给酒店进行确认，并建议留存备案。</div>

   <div><img class="quickresponse" src="${static_url('image/quickresponse.png')}"/></div>

</div>


<!--打印订单详情-->




                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-head" >
                                <thead><tr>
                                        <th width="13%">订单确认号</th>
                                        <th width="15%">酒店名称</th>
                                        <th width="10%">房型</th>
                                        <th width="15%">入离日期</th>
                                        <th width="12%">预约时间</th>
                                        <th width="8%">入住人</th>
                                        <th width="7%">类型</th>
                                        <th width="8%">总价</th>
                                        <th width="5%">状态</th>
                                        <th width="7%">打印</th>
                                </tr></thead>
                            </table>   <!--<span ng-bind="DateDiff(book.checkin_date,book.checkout_date)"></span>-->

                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table01" id="tablerow">
                                <tr ng-repeat="book in todayBook">
                                    <td width="13%" ><a style="cursor:pointer;" ng-click="orderDetail(book)" ng-bind='book.id'></a></td>
                                        <td width="15%" ng-bind='book.hotel_name'></td>
                                        <td width="10%" ng-bind='book.roomtype_name'></td>
                                        <td width="15%" ><span ng-bind="book.checkin_date+'至'"></span><br />
                                        <span ng-bind="book.checkout_date"></span><span ng-bind="DateDiff(book.checkin_date,book.checkout_date)"></span></td>
                                        <td width="12%"><span ng-bind="book['create_time'][0]"></span><br />
                                         <span ng-bind="book['create_time'][1]"></span></td>
                                        <td width="8%"> <div ng-repeat="cum in book['customer_info']" ng-bind="cum['name']"><div></td>
                                        <td width="7%" ng-bind="getConfirmType(book.confirm_type)"></td>
                                        <td width="8%"><em class="price" ng-bind="book.total_price"></em></td>
                                        <td width="5%" ng-bind="book.status"></td>
                                    <td width="7%"><input ng-click="orderPrint(book)" name="" type="button" value="" class="btn-print" title="打印订单详情" /></td>
                                </tr>
                                                                                                                     
                            </table>

                            <!--页码-->
                            <div id="pagebookInfo" class="page" style="display:none">
                                
                            <span  id="pagebookNumber"  ng-if="directiveCtl" page-info></span>
                                
                                <span><span ng-bind="'共'+total+'条，每页'+itemPerPage+'条，每页显示条数：'"></span><select name="" class="input-s"  ng-model="itemPerPage">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                </select></span>
                              
                                
                            </div>
                            <!--页码end-->               
                        </div>

                        <div id="tabcontent2" class="tabcon2" style=" display:none" ng-controller="orderListCheckCtrl">
                            　
                           
<!--订单详情弹窗浮层-->    
<div class="messageDiv" id="checkhotel-detail" style=" display:none">
   <div class="messageBlack"></div>
   <div class="detail hotel-detail" style="width:400px;margin-left:-200px;">
       <div class="head"><h1>订单详情</h1></div>
       <p id="closeDiv" class="close" href="#" ng-click="closeDetail()">X</p>
       <div class="con">
           
           <div class="cm2" style="height:350px">
             
              <table width="100%">
           <tr><td style="width:22%"><strong>订单确认号：</strong></td><td style="width:78%"><span ng-bind="currentOrder['id']"></span></td></tr>
           <tr><td style="width:22%"><strong>酒店名称：</strong></td><td style="width:78%"><span ng-bind="currentOrder['hotel_name']"></span></td></tr>
           <tr><td style="width:22%"><strong>房型：</strong></td><td style="width:78%"><span ng-bind="currentOrder['roomtype_name']"></span></td></tr>
           <tr><td style="width:22%"><strong>入离时间：</strong></td><td style="width:78%"><span ng-bind="currentOrder['checkin_date']"></span></td></tr>


            <tr><td style="width:22%"><strong>预定时间：</strong></td><td style="width:78%"><span ng-bind="currentOrder['create_time'].join('  ')"></span></td></tr>
           <tr><td style="width:22%"><strong>入住人：</strong></td><td style="width:78%">


           <span ng-repeat="cum in currentOrder['customer_info']" ng-bind="cum['name']"></span>


           </td></tr>
           <tr><td style="width:22%"><strong>联系人：</strong></td><td style="width:78%"><span ng-bind="currentOrder['contact_name']"></span></td></tr>
           <tr><td style="width:22%"><strong>联系电话：</strong></td><td style="width:78%"><span ng-bind="currentOrder['contact_mobile']"></span></td></tr>

             <tr><td style="width:22%"><strong>取消规则：</strong></td><td style="width:78%"><span ng-bind="getCancelStatus(currentOrder['cancel_type'])"></span></td></tr>
           <tr><td style="width:22%"><strong>价格代码名称：</strong></td><td style="width:78%"><span ng-bind="currentOrder['rateplan_name']"></span></td></tr>
           <tr><td style="width:22%"><strong>每日价格：</strong></td><td style="width:78%"><span ng-bind="currentOrder['everyday_price']"></span></td></tr>
           <tr><td style="width:22%"><strong>总价：</strong></td><td style="width:78%"><span ng-bind="currentOrder['total_price']"></span></td></tr>
            <tr><td style="width:22%"><strong>拒绝理由：</strong></td><td style="width:78%"><span ng-bind="resonStatusCheck(currentOrder['status'],currentOrder['extra'])"></span></td></tr>
           <tr><td style="width:22%"><strong>备注：</strong></td><td style="width:78%"><span ng-bind="currentOrder['']"></span></td></tr>

          
           </table>
              
           </div>
          
       </div>
   </div> 
</div>
 <!--订单详情浮层结束-->   









                             <!--打印订单详情-->

    <div class="print-web" id="printwebcheck">
  <div class="pt">
    <div class="fl">Fax NO.：  </div>
    <div class="fr">TO：</div>
  </div>
  <div class="pm">

       <div class="title"><strong>预       订      单</strong><br />
         Reservtion Form <div class="zd1"> 订单确认号(Confirmation No.)：<br /><u class="xian" style="position:absolute;right:2px"></u></div> 
         </div>

    <table class="pmtable" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="58%"><span>入住人：<br /><b>Guest Name:</b></span><u class="xian2"  ><span ng-repeat="cum in currentOrder['customer_info']" ng-bind="cum['name']"></span></u></td>
    <td width="42%"><span>是否确认：<br /><b>Confirm State:</b></span><u class="xian2">&nbsp;&nbsp;&nbsp;⚘&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⚘&nbsp;否</u></td>
  </tr>
  <tr>
    <td><span>酒店名称：<br /><b>Hotel Name:</b></span><u class="xian2" ng-bind="currentOrder['hotel_name']"></u></td>
    <td><span>付款状态：<br />
      <b>Payment State:</b></span><u class="xian2">&nbsp;&nbsp;&nbsp;⚘&nbsp;已付&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⚘&nbsp;未付</u></td>
  </tr>
  <tr>
    <td><span>房&nbsp;&nbsp;&nbsp;型：<br /><b>Cancel Rules:</b></span><u class="xian2" ng-bind="currentOrder['roomtype_name']"></u></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><span>价&nbsp;&nbsp;&nbsp;格：<br /><b>Price:</b></span><u class="xian2" ng-bind="currentOrder['total_price']"></u></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><span>到店日期：<br /><b>Arrival Date:</b></span><u class="xian2" ng-bind="currentOrder['checkin_date']"></u></td>
    <td><span>离店日期：<br /><b>Departure Date:</b></span><u class="xian2" ng-bind="currentOrder['checkout_date']"></u></td>
  </tr>
  <tr>
    <td><span>到店时间：<br /><b>Arrival Time:</b></span><u class="xian2"></u></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><span>预订时间：<br /><b>Booking Time:</b></span><u class="xian2" ng-bind="currentOrder['create_time'].join('  ')"></u></td>
    <td>&nbsp;</td>
  </tr>
  </table>
  
  <div class="zd2"><span> 取消规则：<br /><b>Cancel Rules:</b></span><u class="xian2" style="width:86%" ng-bind="getCancelStatus(currentOrder['cancel_type'])"></u></div> 
  <div class="zd3">
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="53%"><span>确认人：</span><u class="xian"></u></td>
    <td width="47%"><span>确认时间：</span><u class="xian"></u></td>
    </tr>
  </table>
  </div>

  
  </div>
  <div class="pb">备注：如有需要请传真给酒店进行确认，并建议留存备案。</div>


   <div><img class="quickresponse" src="${static_url('image/quickresponse.png')}"/></div>

</div>


<!--打印订单详情-->




                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-head" >
                                <thead><tr>
                                        <th width="13%">订单确认号</th>
                                        <th width="15%">酒店名称</th>
                                        <th width="10%">房型</th>
                                        <th width="15%">入离日期</th>
                                        <th width="12%">预约时间</th>
                                        <th width="8%">入住人</th>
                                        <th width="7%">类型</th>
                                        <th width="8%">总价</th>
                                        <th width="5%">状态</th>
                                        <th width="7%">打印</th>
                                </tr></thead>
                            </table>   


                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table01" id="tablerow2">
                                <tr ng-repeat="check in todayCheckIn">
                                    <td width="13%"><a style="cursor:pointer;" ng-click="orderDetail(check)" ng-bind='check.id'></a></td>
                                        <td width="15%" ng-bind="check.hotel_name"></td>

                                        <td width="10%" ng-bind='check.roomtype_name'></td>
                                        <td width="15%" ><span ng-bind="check.checkin_date+'至'"></span><br />
                                        <span ng-bind="check.checkout_date"></span><span ng-bind="DateDiff(check.checkin_date,check.checkout_date)"></span></td>
                                        <td width="12%"><span ng-bind="check['create_time'][0]"></span><br />
                                         <span ng-bind="check['create_time'][1]"></span></td>
                                        <td width="8%"> <div ng-repeat="cum in check['customer_info']" ng-bind="cum['name']"><div></td>
                                        <td width="7%" ng-bind='getConfirmType(check.confirm_type)'></td>
                                        <td width="8%"><em class="price" ng-bind="check.total_price"></em></td>
                                        <td width="5%" ng-bind="check.status"></td>
                                       
                                    <td width="7%"><input  ng-click="orderPrint(check)" name="" type="button" value="" class="btn-print" title="打印订单详情" /></td>
                                </tr>

                                
                            </table>

                             <!--页码-->
                            <div  id="pagecheckInfo"  class="page" style="display:none">
                                
                            <span  id="pagecheckNumber"  ng-if="directiveCtl" page-info></span>
                                
                                <span><span ng-bind="'共'+total+'条，每页'+itemPerPage+'条，每页显示条数：'"></span><select name="" class="input-s"  ng-model="itemPerPage">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                </select></span>
                              
                                
                            </div>
                            <!--页码end-->                  
                        </div>





                        <div id="tabcontent3" class="tabcon3" style=" display:none" ng-controller="orderListQueryCtrl">


<!--订单详情弹窗浮层-->     
<div class="messageDiv" id="queryhotel-detail" style=" display:none">
   <div class="messageBlack"></div>
   <div class="detail hotel-detail" style="width:400px;margin-left:-200px;">
       <div class="head"><h1>订单详情</h1></div>
       <p id="closeDiv" class="close" href="#" ng-click="closeDetail()">X</p>
       <div class="con">
           
           <div class="cm2" style="height:350px">

           <table width="100%">
           <tr><td style="width:22%"><strong>订单确认号：</strong></td><td style="width:78%"><span ng-bind="currentOrder['id']"></span></td></tr>
           <tr><td style="width:22%"><strong>酒店名称：</strong></td><td style="width:78%"><span ng-bind="currentOrder['hotel_name']"></span></td></tr>
           <tr><td style="width:22%"><strong>房型：</strong></td><td style="width:78%"><span ng-bind="currentOrder['roomtype_name']"></span></td></tr>
           <tr><td style="width:22%"><strong>入离时间：</strong></td><td style="width:78%"><span ng-bind="currentOrder['checkin_date']"></span></td></tr>


            <tr><td style="width:22%"><strong>预定时间：</strong></td><td style="width:78%"><span ng-bind="currentOrder['create_time'].join('  ')"></span></td></tr>
           <tr><td style="width:22%"><strong>入住人：</strong></td><td style="width:78%">

           <span ng-repeat="cum in currentOrder['customer_info']" ng-bind="cum['name']"></span>

           </td></tr>
           <tr><td style="width:22%"><strong>联系人：</strong></td><td style="width:78%"><span ng-bind="currentOrder['contact_name']"></span></td></tr>
           <tr><td style="width:22%"><strong>联系电话：</strong></td><td style="width:78%"><span ng-bind="currentOrder['contact_mobile']"></span></td></tr>

             <tr><td style="width:22%"><strong>取消规则：</strong></td><td style="width:78%"><span ng-bind="getCancelStatus(currentOrder['cancel_type'])"></span></td></tr>
           <tr><td style="width:22%"><strong>价格类别：</strong></td><td style="width:78%"><span ng-bind="currentOrder['rateplan_name']"></span></td></tr>
           <tr><td style="width:22%"><strong>每日价格：</strong></td><td style="width:78%"><span ng-bind="currentOrder['everyday_price']"></span></td></tr>
           <tr><td style="width:22%"><strong>总价：</strong></td><td style="width:78%"><span ng-bind="currentOrder['total_price']"></span></td></tr>
            <tr><td style="width:22%"><strong>拒绝理由：</strong></td><td style="width:78%"><span ng-bind="resonStatusCheck(currentOrder['status'],currentOrder['extra'])"></span></td></tr>
           <tr><td style="width:22%"><strong>备注：</strong></td><td style="width:78%"><span ng-bind="currentOrder['']"></span></td></tr>

          
           </table>



             
             <!-- <label><strong>订单确认号：</strong><span ng-bind="currentOrder['main_order_id']"></span></label>
              <label><strong>酒店名称：</strong><span ng-bind="currentOrder['hotel_name']"></span></label>
              <label><strong>房型：</strong><span ng-bind="currentOrder['roomtype_name']"></span></label>
              <label><strong>入离时间：</strong><span ng-bind="currentOrder['checkin_date']"></span></label>
              <label><strong>预定时间：</strong><span ng-bind="currentOrder['create_time'].join('  ')"></span></label>
              <label><strong>入住人：</strong><span ng-bind="currentOrder['hotel_name']"></span></label>
              <label><strong>联系人：</strong><span ng-bind="currentOrder['contact_name']"></span></label>
              <label><strong>联系电话：</strong><span ng-bind="currentOrder['contact_mobile']"></span></label>
              <label><strong>取消规则：</strong><span ng-bind="currentOrder['cancel_type']"></span></label>
              <label><strong>价格代码名称：</strong><span ng-bind="currentOrder['']"></span></label>
              <label><strong>每日价格：</strong><span ng-bind="currentOrder['everyday_price']"></span></label>
              <label><strong>总价：</strong><span ng-bind="currentOrder['total_price']"></span></label>
              <label><strong>备注：</strong><span ng-bind="currentOrder['']"></span></label>-->
              
           </div>
          
       </div>
   </div> 
</div>
 <!--订单详情浮层结束-->   








                         <!--打印订单详情-->

    <div class="print-web" id="printwebquery">
  <div class="pt">
    <div class="fl">Fax NO.：  </div>
    <div class="fr">TO：</div>
  </div>
  <div class="pm">

       <div class="title"><strong>预       订      单</strong><br />
         Reservtion Form <div class="zd1"> 订单确认号(Confirmation No.)：<br /><u class="xian" style="position:absolute;right:2px"></u></div> 
         </div>

    <table class="pmtable" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="58%"><span>入住人：<br /><b>Guest Name:</b></span><u class="xian2"  ><span ng-repeat="cum in currentOrder['customer_info']" ng-bind="cum['name']"></span></u></td>
    <td width="42%"><span>是否确认：<br /><b>Confirm State:</b></span><u class="xian2">&nbsp;&nbsp;&nbsp;⚘&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⚘&nbsp;否</u></td>
  </tr>
  <tr>
    <td><span>酒店名称：<br /><b>Hotel Name:</b></span><u class="xian2" ng-bind="currentOrder['hotel_name']"></u></td>
    <td><span>付款状态：<br />
      <b>Payment State:</b></span><u class="xian2">&nbsp;&nbsp;&nbsp;⚘&nbsp;已付&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⚘&nbsp;未付</u></td>
  </tr>
  <tr>
    <td><span>房&nbsp;&nbsp;&nbsp;型：<br /><b>Cancel Rules:</b></span><u class="xian2" ng-bind="currentOrder['roomtype_name']"></u></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><span>价&nbsp;&nbsp;&nbsp;格：<br /><b>Price:</b></span><u class="xian2" ng-bind="currentOrder['total_price']"></u></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><span>到店日期：<br /><b>Arrival Date:</b></span><u class="xian2" ng-bind="currentOrder['checkin_date']"></u></td>
    <td><span>离店日期：<br /><b>Departure Date:</b></span><u class="xian2" ng-bind="currentOrder['checkout_date']"></u></td>
  </tr>
  <tr>
    <td><span>到店时间：<br /><b>Arrival Time:</b></span><u class="xian2"></u></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><span>预订时间：<br /><b>Booking Time:</b></span><u class="xian2" ng-bind="currentOrder['create_time'].join('  ')"></u></td>
    <td>&nbsp;</td>
  </tr>
  </table>
  
  <div class="zd2"><span> 取消规则：<br /><b>Cancel Rules:</b></span><u class="xian2" style="width:86%" ng-bind="getCancelStatus(currentOrder['cancel_type'])"></u></div> 
  <div class="zd3">
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="53%"><span>确认人：</span><u class="xian"></u></td>
    <td width="47%"><span>确认时间：</span><u class="xian"></u></td>
    </tr>
  </table>
  </div>

  
  </div>
  <div class="pb">备注：如有需要请传真给酒店进行确认，并建议留存备案。</div>


   <div><img class="quickresponse" src="${static_url('image/quickresponse.png')}"/></div>

</div>


<!--打印订单详情-->










                            <div class="search-div">
                                <div class="divone">
                                    <label>订单确认号： <input ng-enter="urlCheck(1)" name="" type="text" ng-model="searchOrderId" class="input-t"/></label>
                                    <label>酒店名称： <input ng-enter="urlCheck(1)" name="" type="text" ng-model="searchHotelName" class="input-t"/></label>


                                    <label >入住日期： <input ng-enter="urlCheck(1)" readonly="readonly" type="text"  name="time1" id="liveStarTime" onclick="WdatePicker()" value="" class="input-time"/ > 至 
                                        <input ng-enter="urlCheck(1)" readonly="readonly" type="text"  name="time2" id="liveEndTime" onclick="WdatePicker()" value="" class="input-time"/>
                                    
                                         <span style="color:red" ng-bind="messageLive"></span>
                                    </label>

                                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;入住人： <input ng-enter="urlCheck(1)" ng-model="searchInPeople" name="" type="text" value="" class="input-t"/></label>

                                    <label>操作状态： <select  ng-enter="urlCheck(1)"  name="" class="input-s" ng-model="searchStatus" >
                                            <option value="0">不限</option>
                                            <option value="100">待确定</option>
                                            <option value="300">接受</option>
                                            <option value="400">拒绝</option>
                                            <option value="500">服务器取消</option>
                                            
                                    </select></label>

                                    <label >下单日期： <input  ng-enter="urlCheck(1)" readonly="readonly" type="text"  name="ListStarTime" id="ListStarTime" onclick="WdatePicker()" value="" class="input-time"/ > 至 
                                        <input  ng-enter="urlCheck(1)" readonly="readonly" type="text"  name="time2" id="ListEndTime" onclick="WdatePicker()" value="" class="input-time"/>
                                        <span style="color:red" ng-bind="messageList"></span>

                                    </label>

                                </div>
                            </div>



                            <div class="choose-div">
                                <div class="left content">
                                    <input name="" type="button" value="搜索" ng-click="urlCheck(1)"/>
                                    <input name="" type="button" value="重置" ng-click="conditionReset()" class="btn-bai btn-s" /> 

                                </div>
                                <!-- <div class="btn-div right"> <input name="input" type="button" value="导出所选" class="btn-s btn-bai"  /></div>  -->
                            </div>

                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-head" >
                                <thead><tr>
                                        <th width="13%">订单确认号</th>
                                        <th width="15%">酒店名称</th>
                                        <th width="10%">房型</th>
                                        <th width="15%">入离日期</th>
                                        <th width="12%">预约时间</th>
                                        <th width="8%">入住人</th>
                                        <th width="7%">类型</th>
                                        <th width="8%">总价</th>
                                        <th width="5%">状态</th>
                                        <th width="7%">打印</th>
                                </tr></thead>
                            </table> 


                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table01" id="tablerow3">
                                <tr ng-repeat="query in queryList">
                                    <td width="13%"><a  style="cursor:pointer;" ng-click="orderDetail(query)" ng-bind='query.id'></a></td>

                                    <td width="15%" ng-bind="query.hotel_name"></td>

                                    <td width="10%" ng-bind='query.roomtype_name'></td>
                                    <td width="15%" ><span ng-bind="query.checkin_date+'至'"></span><br />
                                    <span ng-bind="query.checkout_date"></span> <span ng-bind="DateDiff(query.checkin_date,query.checkout_date)"></span></td>
                                    <td width="12%"><span ng-bind="query['create_time'][0]"></span><br />
                                         <span ng-bind="query['create_time'][1]"></span></td>
                                    <td width="8%"> <div ng-repeat="cum in query['customer_info']" ng-bind="cum['name']"><div></td>
                                    <td width="7%" ng-bind='getConfirmType(query.confirm_type)'></td>
                                    <td width="8%"><em class="price" ng-bind="query.total_price"></em></td>
                                    <td width="5%" ng-bind="query.status"></td>
                                                                                                                                                                                                      
                                        
                                    <td width="7%"><input ng-click="orderPrint(query)"  name="" type="button" value="" class="btn-print" title="打印订单详情" /></td>
                                </tr>
                               
                            </table>



                             <!--页码-->
                            <div  id="pagequeryInfo"  class="page" style="display:none">
                                
                            <span  id="pagequeryNumber"  ng-if="directiveCtl" page-info></span>
                                
                                <span><span ng-bind="'共'+total+'条，每页'+itemPerPage+'条，每页显示条数：'"></span><select name="" class="input-s"  ng-model="itemPerPage">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                </select></span>                                                            
                            </div>
                            <!--页码end-->   

                                          

                        </div>
                    </div>




            </div></div>
            <!--订单查询结束-->  


    </div></div>
    <!--主体内容end--> 


</div>


</%def>

<%def name="end()">

<link rel="stylesheet" type="text/css" href="${static_url('css/orderprint.css')}"> 
<script src="${static_url('js/pageDirectives.js')}"></script>

<script src="${static_url('js/orderList.js')}"></script>
<script src="${static_url('js/menu-tab.js')}"></script>
</%def>
