<%inherit file="base.html" />
<%def name="right_content()">

<div id="ng-app"
    ng-app="orderWaitingApp"
    ng-controller="orderWaitingCtrl"
    >

<!--打印订单详情-->

    <div class="print-web" id="printweb" style="display:none">
  <div class="pt">
    <div class="fl">Fax NO.：010-89897182  </div>
    <div class="fr">TO：Terry</div>
  </div>
  <div class="pm">

       <div class="title"><strong>预       订      单</strong><br />
         Reservtion Form <div class="zd1"> 订单确认号(Confirmation No.)：<br /><u class="xian" style="position:absolute;right:2px"></u></div> 
         </div>

    <table class="pmtable" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="58%"><span>入住人：<br /><b>Guest Name:</b></span><u class="xian2"  ><span ng-repeat="cum in currentOrder['customer_info']" ng-bind="cum['name']"></span></u></td>
    <td width="42%"><span>是否确认：<br /><b>Confirm State:</b></span><u class="xian2">&nbsp;&nbsp;&nbsp;⚘&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⚘&nbsp;否</u></td>
  </tr>
  <tr>
    <td><span>酒店名称：<br /><b>Hotel Name:</b></span><u class="xian2" ng-bind="currentOrder['hotel_name']"></u></td>
    <td><span>付款状态：<br />
      <b>Payment State:</b></span><u class="xian2">&nbsp;&nbsp;&nbsp;⚘&nbsp;已付&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⚘&nbsp;未付</u></td>
  </tr>
  <tr>
    <td><span>房&nbsp;&nbsp;&nbsp;型：<br /><b>Cancel Rules:</b></span><u class="xian2" ng-bind="currentOrder['roomtype_name']"></u></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><span>价&nbsp;&nbsp;&nbsp;格：<br /><b>Price:</b></span><u class="xian2" ng-bind="currentOrder['total_price']"></u></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><span>到店日期：<br /><b>Arrival Date:</b></span><u class="xian2" ng-bind="currentOrder['checkin_date']"></u></td>
    <td><span>离店日期：<br /><b>Departure Date:</b></span><u class="xian2" ng-bind="currentOrder['checkout_date']"></u></td>
  </tr>
  <tr>
    <td><span>到店时间：<br /><b>Arrival Time:</b></span><u class="xian2"></u></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><span>预订时间：<br /><b>Booking Time:</b></span><u class="xian2" ng-bind="currentOrder['create_time'].join('  ')"></u></td>
    <td>&nbsp;</td>
  </tr>
  </table>
  
  <div class="zd2"><span> 取消规则：<br /><b>Cancel Rules:</b></span><u class="xian2" style="width:86%" ng-bind="currentOrder['cancel_type']"></u></div> 
  <div class="zd3">
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="53%"><span>确认人：</span><u class="xian"></u></td>
    <td width="47%"><span>确认时间：</span><u class="xian"></u></td>
    </tr>
  </table>
  </div>

  
  </div>
  <div class="pb">备注：如有需要请传真给酒店进行确认，并建议留存备案。</div>

</div>


<!--打印订单详情-->






      <!--信息提示弹窗浮层-->     
      <div class="messageDiv" id="messageDialog" style="display:none" >
       <div class="messageBlack"></div>
       <div class="detail">
             <div class="head"><h1>提示</h1></div>
            <div class="con">
               <p class="f16" style=" text-align:center;padding:30px 0;" ng-bind="messageBox"></p>
               <p class="action" style=" text-align:center">
               <input name="确认" type="button" value="确认"  ng-click="confirmResult();" class="btn-orange"/>
               </p>
           </div>
         </div> 
      </div>     

<!--酒店弹窗浮层-->     
<div class="messageDiv" id="acceptDialog" style=" display:none" >
   <div class="messageBlack"></div>
   <div class="detail">
       <div class="head"><h1>提示</h1></div>
       <div class="con">
          <p class="f16" style=" text-align:center;padding:30px 0;">请再次确认是否接受此单！</p>
          <p class="action" style=" text-align:center">
          <input name="接受" type="button" value="接受"  ng-click="acceptOrder();" class="btn-orange"/>
          <input name="取消" type="button" value="取消" ng-click=acceptHide(); class="btn-bai"  />
          </p>
       </div>
   </div> 
</div>   

<div class="messageDiv" id="refuseDialog" style=" display:none">
  <div class="messageBlack"></div>
   <div class="detail">
       <div class="head"><h1>请输入拒绝理由</h1></div>       
       <div class="con">
           <p style="width:80%;margin:10px auto;"> <textarea ng-model="refuseReason" name="" cols="" rows="" style="width:100%"></textarea></p>
         
            <p style="color:red;margin-left:36px" ng-bind="messageBox"></p>
          <p class="action" style=" text-align:center">
          <input name="确定" type="button" value="确定" ng-click="refuseOrder();" />
          <input name="取消" type="button" value="取消" ng-click=refuseHide(); class="btn-bai" />
          </p>
         
       </div>
   </div> 
</div>   
 <!--酒店弹窗浮层结束-->  


    <!--导航条--> 
    <div class="notice" id="notice"><h2>待确认订单</h2></div>
    <!--导航条end-->  

    <!--主体内容-->  
    <div class="main"><div class="p15">



            <!--待确认订单开始-->  
            <div class="main-mod main-order">


                <div class="content"><div class="p15">

                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-head" >
                            <thead><tr>
                                    <th width="10%">订单确认号</th>
                                    <th width="15%">酒店名称</th>
                                    <th width="10%">房型房数</th>
                                    <th width="15%">入离日期</th>
                                    <th width="10%">总价</th>
                                    <th width="10%">预订时间</th>    
                                    <th width="10%">入住人</th>   
                                    <th width="15%">操作</th>
                                    <th width="5%">打印</th>
                            </tr></thead>
                        </table>

                        <!--单个订单-->
                        <div class="room-main" ng-repeat="order in orderList">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table02" >
                                <tr>
                               
                                    <td width="10%"  style="text-decoration: underline;position:relative"><a href="javascript:void(0)" ng-click="orderDetail($index)" id={{"orderConfimId-"+$index}} ng-bind="order.main_order_id"></a></td>
                                    <td width="15%" ng-bind="order.hotel_name"></td>
                                    <td width="10%"><span ng-bind="order.roomtype_name"></span><br /><span ng-bind="order.room_num+'间'"></span></td>    
                                    <td width="15%"><span ng-bind="order.checkin_date+'至'"></span><br />
                                       <span ng-bind="order.checkout_date"></span>
                                       <span ng-bind="DateDiff(order.checkin_date,order.checkout_date)"></span>
                                       </td>
                                    <td width="10%" class="po"><em id={{"orderPrice-"+$index}} ng-mouseover=priceDivIn($index); ng-mouseleave=priceDivOut($index); class="price" ng-bind="order.total_price+'元'"></em> </td>
                                    <td width="10%"><span ng-bind="order['create_time'][0]"></span><br />
                                         <span ng-bind="order['create_time'][1]"></span></td>    
                                    <td width="10%">

                                    <div ng-repeat="cum in order['customer_info']" ng-bind="cum['name']"><div>
                                                                     
                                    </td>
                                    
                                    <td class="action" width="15%">
                                        <input name="" type="button" value="接受" ng-click=acceptShow($index);  class="btn-s btn-orange btn-yes"  />
                                        <input name="" type="button" value="拒绝" ng-click=refuseShow($index); class="btn-s btn-no"   />

                                    </td>
                                    <td width="5%"><input ng-click="orderPrint(order)" name="" type="button" value="" class="btn-print" title="打印订单详情" /></td>
                                </tr>
                            </table>
                        </div>  
                        <!--单个订单end-->
                                                                                       
                       <!--页码-->
                        <div id="pageInfo" class="page" style="display:none">
                                
                          <span  id="pageNumber"  ng-if="directiveCtl" page-info></span>
                
                          <span><span ng-bind="'共'+total+'条，每页'+itemPerPage+'条，每页显示条数：'"></span><select name="" class="input-s"  ng-model="itemPerPage">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                          </select></span>
                      </div>
                      <!--页码end-->        

                </div></div>
            </div>

            <!--待确认订单结束-->  




 <!--订单详情弹窗浮层-->     
<div class="messageDiv" id="hotel-detail" style=" display:none">
   <div class="messageBlack"></div>
   <div class="detail hotel-detail">
       <div class="head"><h1>订单详情</h1></div>
       <p id="closeDiv" class="close" href="#" ng-click="closeDetail()">X</p>
       <div class="con">
           
           <div class="cm2" style="height:350px">
             
               <table width="100%">
           <tr><td style="width:50%"><strong>订单确认号：</strong></td><td style="width:50%"><span ng-bind="currentOrder['id']"></span></td></tr>
           <tr><td style="width:50%"><strong>酒店名称：</strong></td><td style="width:50%"><span ng-bind="currentOrder['hotel_name']"></span></td></tr>
           <tr><td style="width:50%"><strong>房型：</strong></td><td style="width:50%"><span ng-bind="currentOrder['roomtype_name']"></span></td></tr>
           <tr><td style="width:50%"><strong>入离时间：</strong></td><td style="width:50%"><span ng-bind="currentOrder['checkin_date']"></span></td></tr>


            <tr><td style="width:50%"><strong>预定时间：</strong></td><td style="width:50%"><span ng-bind="currentOrder['create_time'].join('  ')"></span></td></tr>
           <tr><td style="width:50%"><strong>入住人：</strong></td><td style="width:50%">


           <span ng-repeat="cum in currentOrder['customer_info']" ng-bind="cum['name']"></span>


           </td></tr>
           <tr><td style="width:50%"><strong>联系人：</strong></td><td style="width:50%"><span ng-bind="currentOrder['contact_name']"></span></td></tr>
           <tr><td style="width:50%"><strong>联系电话：</strong></td><td style="width:50%"><span ng-bind="currentOrder['contact_mobile']"></span></td></tr>

             <tr><td style="width:50%"><strong>取消规则：</strong></td><td style="width:50%"><span ng-bind="currentOrder['cancel_type']"></span></td></tr>
           <tr><td style="width:50%"><strong>价格代码名称：</strong></td><td style="width:50%"><span ng-bind="currentOrder['']"></span></td></tr>
           <tr><td style="width:50%"><strong>每日价格：</strong></td><td style="width:50%"><span ng-bind="currentOrder['everyday_price']"></span></td></tr>
           <tr><td style="width:50%"><strong>总价：</strong></td><td style="width:50%"><span ng-bind="currentOrder['total_price']"></span></td></tr>
           <tr><td style="width:50%"><strong>备注：</strong></td><td style="width:50%"><span ng-bind="currentOrder['']"></span></td></tr>

          
           </table>
              
           </div>
          
       </div>
   </div> 
</div>
 <!--订单详情浮层结束-->    




    </div></div>
    <!--主体内容end--> 


</div>
<!--右侧部分end--> 

</div>

</%def>

<%def name="end()">

<link rel="stylesheet" type="text/css" href="${static_url('css/orderprint.css')}"> 
<script src="${static_url('js/pageDirectives.js')}"></script>
<script src="${static_url('js/orderWaiting.js')}"></script>

</%def>
