<%inherit file="base.html" />
<%def name="right_content()">

<div
    ng-app="orderWaitingApp"
    ng-controller="orderWaitingCtrl"
    >

      <!--信息提示弹窗浮层-->     
      <div class="messageDiv" id="messageDialog" style="display:none" >
       <div class="messageBlack"></div>
       <div class="detail">
             <div class="head"><h1>提示</h1></div>
            <div class="con">
               <p class="f16" style=" text-align:center;padding:30px 0;">{{messageBox}}</p>
               <p class="action" style=" text-align:center">
               <input name="确认" type="button" value="确认"  ng-click="confirmResult();" class="btn-orange"/>
               </p>
           </div>
         </div> 
      </div>     

<!--酒店弹窗浮层-->     
<div class="messageDiv" id="acceptDialog" style=" display:none" >
   <div class="messageBlack"></div>
   <div class="detail">
       <div class="head"><h1>提示</h1></div>
       <div class="con">
          <p class="f16" style=" text-align:center;padding:30px 0;">请再次确认是否接受此单！</p>
          <p class="action" style=" text-align:center">
          <input name="接受" type="button" value="接受"  ng-click="acceptOrder();" class="btn-orange"/>
          <input name="取消" type="button" value="取消" ng-click=acceptHide(); class="btn-bai"  />
          </p>
       </div>
   </div> 
</div>   

<div class="messageDiv" id="refuseDialog" style=" display:none">
  <div class="messageBlack"></div>
   <div class="detail">
       <div class="head"><h1>请输入拒绝理由</h1></div>       
       <div class="con">
           <p style="width:80%;margin:10px auto;"> <textarea ng-model="refuseReson" name="" cols="" rows="" style="width:100%"></textarea></p>
          <p class="action" style=" text-align:center">
          <input name="确定" type="button" value="确定" ng-click="refuseOrder();" />
          <input name="取消" type="button" value="取消" ng-click=refuseHide(); class="btn-bai" />
          </p>
       </div>
   </div> 
</div>   
 <!--酒店弹窗浮层结束-->  


    <!--导航条--> 
    <div class="notice" id="notice"><h2>待确认订单</h2></div>
    <!--导航条end-->  

    <!--主体内容-->  
    <div class="main"><div class="p15">



            <!--待确认订单开始-->  
            <div class="main-mod main-order">


                <div class="content"><div class="p15">

                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-head" >
                            <thead><tr>
                                    <th width="10%">订单确认号</th>
                                    <th width="15%">酒店名称</th>
                                    <th width="10%">房型房数</th>
                                    <th width="15%">入离日期</th>
                                    <th width="10%">总价</th>
                                    <th width="10%">预订时间</th>    
                                    <th width="10%">入住人</th>   
                                    <th width="15%">操作</th>
                                    <th width="5%">打印</th>
                            </tr></thead>
                        </table>

                        <!--单个订单-->
                        <div class="room-main" ng-repeat="order in orderList">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table02" >
                                <tr>
                               
                                    <td width="10%"  style="text-decoration: underline;position:relative"><em id={{"orderConfimId-"+$index}} ng-mouseover=detailDivIn($index); ng-mouseleave=detailDivOut($index); >987898</em></td>
                                    <td width="15%">{{order.hotel_name}}</td>
                                    <td width="10%">{{order.room_type_name}}<br />{{order.room_num}}间</td>    
                                    <td width="15%">{{order.checkin_date}}至<br />
                                        {{order.checkout_date}}（2晚）</td>
                                    <td width="10%" class="po"><em id={{"orderPrice-"+$index}} ng-mouseover=priceDivIn($index); ng-mouseleave=priceDivOut($index); class="price">{{order.everyday_price}}元</em> </td>
                                    <td width="10%">{{order["create_time"][0]}}<br />
                                         {{order["create_time"][1]}}</td>    
                                    <td width="10%">

                                    <div ng-repeat="cum in order['customer_info']">{{cum["name"]}}<div>
                                                                     
                                    </td>
                                    
                                    <td class="action" width="15%">
                                        <input name="" type="button" value="接受" ng-click=acceptShow($index);  class="btn-s btn-orange btn-yes"  />
                                        <input name="" type="button" value="拒绝" ng-click=refuseShow($index); class="btn-s btn-no"   />

                                    </td>
                                    <td width="5%"><input name="" type="button" value="" class="btn-print" title="打印订单详情" /></td>
                                </tr>
                            </table>
                        </div>  
                        <!--单个订单end-->
                                                                                       
                       <!--页码-->
                        <div id="pageInfo" class="page">
                                
                          <span  id="pageNumber"  ng-if="directiveCtl" page-info></span>
                
                          <span>共{{total}}条，每页{{itemPerPage}}条，每页显示条数：<select name="" class="input-s"  ng-model="itemPerPage">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                          </select></span>
                      </div>
                      <!--页码end-->        

                </div></div>
            </div>

            <!--待确认订单结束-->  

    </div></div>
    <!--主体内容end--> 


</div>
<!--右侧部分end--> 

</div>

</%def>

<%def name="end()">

<script src="${static_url('js/pageDirectives.js')}"></script>
<script src="${static_url('js/orderWaiting.js')}"></script>
<style>
.classone{
   width:40%;line-height:20px;
}
.classtwo{
   width:60%;line-height:20px;position:absolute;left:150px;
}
.classthree{overflow:hidden;width:300px;float:left; position:absolute;top:55px;left:50px;padding:8px 10px;height:auto; z-index:999; background:#FFF;border:1px solid #E3E3E3; 
text-align:left; line-height:180%; color:#666; 
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}



</style>
</%def>
