<%inherit file="base.html" />
<%def name="right_content()">

<div
    ng-app="orderWaitingApp"
    ng-controller="orderWaitingCtrl"
    >

    <!--导航条--> 
    <div class="notice" id="notice"><h2>待确认订单</h2></div>
    <!--导航条end-->  

    <!--主体内容-->  
    <div class="main"><div class="p15">



            <!--待确认订单开始-->  
            <div class="main-mod main-order">


                <div class="content"><div class="p15">

                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-head" >
                            <thead><tr>
                                    <th width="10%">订单确认号</th>
                                    <th width="15%">酒店名称</th>
                                    <th width="10%">房型房数</th>
                                    <th width="15%">入离日期</th>
                                    <th width="10%">总价</th>
                                    <th width="10%">预订时间</th>    
                                    <th width="10%">入住人</th>   
                                    <th width="15%">操作</th>
                                    <th width="5%">打印</th>
                            </tr></thead>
                        </table>



                        <!--单个订单-->
                        <div class="room-main">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table02" >
                                <tr>
                                    <td width="10%">987898</td>
                                    <td width="15%">七天连锁酒店（北京朝阳店）</td>
                                    <td width="10%">双人大床房<br />1间</td>    
                                    <td width="15%">2014-09-28至<br />
                                        2014-09-30（2晚）</td>
                                    <td width="10%" class="po"><em class="price">380元</em> </td>
                                    <td width="10%">2014-09-28<br />
                                         18：00</td>    
                                    <td width="10%">刘小</td>

                                    <td class="action" width="15%">
                                        <input name="" type="button" value="接受" class="btn-s btn-orange btn-yes"  />
                                        <input name="" type="button" value="拒绝" class="btn-s btn-no"   />

                                    </td>
                                    <td width="5%"><input name="" type="button" value="" class="btn-print" title="打印订单详情" /></td>
                                </tr>
                            </table>
                        </div>  
                        <!--单个订单end-->

                        <!--单个订单-->
                        <div class="room-main">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table02" >
                                <tr>
                                    <td width="10%">987898</td>
                                    <td width="15%">七天连锁酒店（北京朝阳店）</td>
                                    <td width="10%">双人大床房<br />1间</td>    
                                    <td width="15%">2014-09-28至<br />
                                        2014-09-30（2晚）</td>
                                    <td width="10%" class="po"><em class="price">380元</em> </td>
                                    <td width="10%">2014-09-28<br />
                                         18：00</td>    
                                    <td width="10%">刘小</td>

                                    <td class="action" width="15%">
                                        <input name="" type="button" value="接受" class="btn-s btn-orange btn-yes"  />
                                        <input name="" type="button" value="拒绝" class="btn-s btn-no"   />

                                    </td>
                                    <td width="5%"><input name="" type="button" value="" class="btn-print" title="打印订单详情" /></td>
                                </tr>
                            </table>
                        </div>  
                        <!--单个订单end-->

                        <!--单个订单-->
                        <div class="room-main">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table02" >
                                <tr>
                                    <td width="10%">987898</td>
                                    <td width="15%">七天连锁酒店（北京朝阳店）</td>
                                    <td width="10%">双人大床房<br />1间</td>    
                                    <td width="15%">2014-09-28至<br />
                                        2014-09-30（2晚）</td>
                                    <td width="10%" class="po"><em class="price">380元</em> </td>
                                    <td width="10%">2014-09-28<br />
                                         18：00</td>    
                                    <td width="10%">刘小</td>

                                    <td class="action" width="15%">
                                        <input name="" type="button" value="接受" class="btn-s btn-orange btn-yes"  />
                                        <input name="" type="button" value="拒绝" class="btn-s btn-no"   />

                                    </td>
                                    <td width="5%"><input name="" type="button" value="" class="btn-print" title="打印订单详情" /></td>
                                </tr>
                            </table>
                        </div>  
                        <!--单个订单end-->

                        <!--单个订单-->
                        <div class="room-main">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table02" >
                                <tr>
                                    <td width="10%">987898</td>
                                    <td width="15%">七天连锁酒店（北京朝阳店）</td>
                                    <td width="10%">双人大床房<br />1间</td>    
                                    <td width="15%">2014-09-28至<br />
                                        2014-09-30（2晚）</td>
                                    <td width="10%" class="po"><em class="price">380元</em> </td>
                                    <td width="10%">2014-09-28<br />
                                         18：00</td>    
                                    <td width="10%">刘小</td>

                                    <td class="action" width="15%">
                                        <input name="" type="button" value="接受" class="btn-s btn-orange btn-yes"  />
                                        <input name="" type="button" value="拒绝" class="btn-s btn-no"   />

                                    </td>
                                    <td width="5%"><input name="" type="button" value="" class="btn-print" title="打印订单详情" /></td>
                                </tr>
                            </table>
                        </div>  
                        <!--单个订单end-->

                        <!--单个订单-->
                        <div class="room-main">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table02" >
                                <tr>
                                    <td width="10%">987898</td>
                                    <td width="15%">七天连锁酒店（北京朝阳店）</td>
                                    <td width="10%">双人大床房<br />1间</td>    
                                    <td width="15%">2014-09-28至<br />
                                        2014-09-30（2晚）</td>
                                    <td width="10%" class="po"><em class="price">380元</em> </td>
                                    <td width="10%">2014-09-28<br />
                                         18：00</td>    
                                    <td width="10%">刘小</td>

                                    <td class="action" width="15%">
                                        <input name="" type="button" value="接受" class="btn-s btn-orange btn-yes"  />
                                        <input name="" type="button" value="拒绝" class="btn-s btn-no"   />

                                    </td>
                                    <td width="5%"><input name="" type="button" value="" class="btn-print" title="打印订单详情" /></td>
                                </tr>
                            </table>
                        </div>  
                        <!--单个订单end-->

                        <!--页码-->
                        <div class="page">
                            <span class="disabled"> &lt;  上一页</span>
                            <span class="current">1</span>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            ...<a href="#">20</a>
                            <a href="#">21</a>
                            <a href="#">下一页  &gt; </a>
                            <span>共230条，每页10条，每页显示条数：<select name="" class="input-s"  >
                                    <option value="1">10</option>
                                    <option value="2">20</option>
                                    <option value="3">30</option>
                                    <option value="4">40</option>
                            </select></span>
                        </div>
                        <!--页码end-->       




                </div></div>
            </div>

            <!--待确认订单结束-->  


    </div></div>
    <!--主体内容end--> 



</div>
<!--右侧部分end--> 
</div>

</%def>

<%def name="end()">
<script src="${static_url('js/orderWaiting.js')}"></script>
</%def>
