<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>商旅分销管理系统</title>
    <link href="${static_url('css/default.css')}" rel="stylesheet" type="text/css"/>
    <link href="${static_url('css/mod.css')}" rel="stylesheet" type="text/css"/>
    <script src="${static_url('js/angular.js')}"></script>
      <script src="${static_url('js/md5.js')}"></script>
</head>

<body class="no-bg" ng-app="passwordApp" ng-controller="passwordController">

<div class="wrapper">

    <!--右侧部分-->
    <div class="main-mid">
        <!--主体内容-->
        <div class="main">
            <div class="p15">
                <!--修改密码开始-->
                <div class="main-mod main-pwd">

                    <div class="content">
                        <div class="p15">
                            <div class="label-div">
                                <div class="each">
                                    <label>当前密码：</label>
                                    <p><input name="old_password" type="password" placeholder="输入当前密码" ng-model="old_password" ng-change="old_password_tips=false" class="input-t"/></p>
                                    <b name="tips" class="red-tips" ng-show="old_password_tips">请输入旧密码</b>
                                </div>

                                <div class="each">
                                    <label>新密码：</label>
                                    <p><input name="password" type="password" placeholder="输入新密码" ng-model="password" ng-change="resetPasswordTips()" class="input-t"/></p>
                                    <b name="tips" class="red-tips" ng-show="password_tips">请输入长度为6-20位的密码</b>
                                    <b name="tips2" class="red-tips" ng-show="password_tips2">新密码和旧密码相同</b>
                                </div>

                                <div class="each">
                                    <label>确认新密码：</label>
                                    <p><input name="re_password" type="password" placeholder="再次输入新密码" ng-model="re_password" ng-change="resetRePasswordTips()" class="input-t"/></p>
                                    <b name="tips" class="red-tips" ng-show="re_password_tips">请输入确认密码</b>
                                    <b name="tips" class="red-tips" ng-show="re_password_tips2">两次密码不匹配</b>
                                </div>

                            </div>
                            <div class="btn-div">
                                <input type="button" value="提交" class="btn-b" ng-click="submit()"/>
                            </div>

                        </div>
                    </div>
                </div>
                <!--修改密码结束-->
            </div>
        </div>
        <!--主体内容end-->
    </div>
</div>
</body>
<script src="${static_url('js/password.js')}"></script>
</html>
