<%inherit file="base.html" />
<%def name="right_content()">
<div id="ng-app"
    ng-app="ratePlanApp"
    ng-controller="ratePlanCtrl"
    >
    <!--导航条--> 
    <div class="notice" id="notice"><h2 ng-bind="'当前酒店：'+hotel.name"></h2></div>
    <!--导航条end-->  

    <!--主体内容-->  
    <div class="main"><div class="p15">

            <!--已合作酒店开始-->  
            <div class="main-rchoose" > 
                <ul class="menu-title">
                    <li><a href="/hotel/cooped/${hotel_id}/inventory/" >房量房态</a></li>
                    <li><a href="/hotel/cooped/${hotel_id}/rateplan/" class="active">房价金额</a></li>
                </ul>

            </div>

            <div class="main-room main-price"><div class="content">
                    <div class="p15">

                        <div class="choosem">                 
                            <div class="left">选择房型：
                                <select name="" class="input-s"
                                    ng-model="currentRoomType"
                                    ng-options="roomtype.name for roomtype in roomtypes">
                                </select>

                                选择月份： <select name="" class="input-s" ng-model="monthvalue" >
                                <option  value={{$index+1}}  ng-repeat="i in months" ng-bind="i.month+'月'"></option>
                                  
                                </select>

                            </div>

                        </div>




                        <div class="form form1"
                            ng-repeat="rateplan in rateplans" ng-init="index=$index"
                            >
                            <div class="roomhead" ><h1 ng-click="roomHeadPlanDialog.eachshow($index);" ng-bind="rateplan.name"></h1><span></span>
                             
                                <div class="eachroom" style="display:none">

                                    <label>名称：<input id={{"roomheadinput"+$index}} ng-value="rateplan.name" > </label>
                                    <label>早餐数：<select id={{"roomheadmeal"+$index}} name="" class="input-s"  >
                                            <option value="0">无早餐</option>
                                            <option value="1">一份早餐</option>
                                            <option value="2">两份早餐</option>
                                            <option value="100">按人头早餐</option>                                                                                                      
                                        </select>
                                    </label>
                                    <label>取消时：<select id={{"roomheadpunish"+$index}} ng-model="rateplan.punish_type" 
                                    name="" class="input-s"  >                                                                                  
                                             <option value="0">不扣任何费用</option>
                                            <option value="1">扣首晚房费</option>
                                            <option value="2">扣全部房费</option>
                                          <!--  <option value="3">扣定额</option> -->
                                          <!-- <option value="4">扣全额房费百分比</option> -->
                                        </select>
                                    </label>


                                    <label><input name="" type="button" value="保存" class="btn-s" ng-click="roomHeadPlanDialog.save($index);" />
                                        <input name="" type="button" value="取消" ng-click="roomHeadPlanDialog.eachhide($index);" class="btn-s btn-bai"  /></label>
                                </div>
                            </div>



                            <table width="100%" border="0" cellspacing="1" cellpadding="0" class="table03 room-table01" >
                                <thead><tr>
                                        <th class="table-title">日期</th>
                                        <th id={{"dayth"+monthvalue+""+day.day}} ng-repeat="day in dayWeekSum" ng-style="day.textcolor"><span ng-bind="day.day"></span><br/><span ng-bind="day.weekday"></span></th>
                                     
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td class="table-title">预付底价</td>
                                    <td class={{v.classstyle}} ng-repeat="(id,v) in dayPriceSum[rateplan.id] | orderObjectBy:''">                <span id={{rateplan.id+"-"+$index}} ng-click=addChangeP((rateplan.id+"-"+$index),index,($index),(rateplan)); ng-bind="v.dayprice"></span></td>          
                                    </tr>
                                </tbody>
                            </table>             
                        </div>

                        <div class="form"><input name="" type="button" value="增加价格类别" class="" style="width:150px" id="openBtn" ng-click="newRatePlanDialog.open()" /></div>


                        <div class="price-tips">
                            标识说明：（单击单元格可修改房价）<span>可售房价</span><span>不可操作</span> 

                        </div>


                    </div>
            </div></div>
            <!--已合作酒店结束-->  

    </div></div>
    <!--主体内容end--> 



    <!--修改房量弹窗浮层-->     
<div class="messageDiv" id="openDiv1" style=" display:none">
   <div class="messageBlack"></div>
   <div class="detail piliang-room">
       <div class="head"><h1>修改房价</h1></div>
       <div class="con">
           <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="80">房型：</td>
    <td ng-bind="currentRoomType['name']"></td>
  </tr>
  <tr>
    <td >价格类别：</td> 
    <td ng-bind="currentHotelDetail['name']+'-预付'"></td>
  </tr>
  <tr>
    <td>日期：</td>
    <td><input type="text" name="timeStart" id="timeStart" onClick="WdatePicker()"  class="input-time" readonly="readonly"/ > 至 
                     <input type="text" name="timeEnd" id="timeEnd" onClick="WdatePicker()"  class="input-time" readonly="readonly"/></td>
  </tr>
  <tr>
    <td>底价：</td>
    <td><input id="lowprice" name="" type="text" class="input-t" value="" placeholder="输入数字" /></td>
  </tr>
</table>
<p style="padding-left:32px;color:red" ng-bind="roomRatePlanDialog.errmsg"></p>
          <p class="action" style=" text-align:center">
          <input name="" type="button" value="保存" class="btn" ng-click="roomRatePlanDialog.save()" />
          <input name="" type="button" value="取消" class="btn btn-bai" ng-click="roomRatePlanDialog.close()" />
          </p>
       </div>
   </div> 
</div>   
<!--修改房量弹窗浮层end--> 








<!--增加价格类别浮层-->    
<div class="messageDiv" id="newRatePlanDialog" style=" display:none">
   <div class="messageBlack"></div>
   <div class="detail piliang-room" style="width:300px;margin-left:-150px;">
       <div class="head"><h1>增加价格类别</h1></div>
       <div class="con">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100">名　称：</td>
    <td><input type="text"  value="" class="input-t" ng-model="newRatePlanDialog.name"  /></td>
  </tr>
  <tr>
    <td >早餐数：</td>
    <td><select name="" class="input-s"  ng-model="newRatePlanDialog.mealType">
                       <option value="0">无早餐</option>
                       <option value="1">一份早餐</option>
                       <option value="2">两份早餐</option>
                       <option value="100">按人头早餐</option>
                     </select></td>
  </tr>
  <tr>
    <td>取消时：</td>
    <td><select name="" class="input-s" ng-model="newRatePlanDialog.punishType" >
                       <option value="0">不扣任何费用</option>
                       <option value="1">扣首晚房费</option>
                       <option value="2">扣全部房费</option>
                  <!--  <option value="3">扣定额</option> -->
                  <!--  <option value="4">扣全额房费百分比</option> -->
                     </select></td>
  </tr>
</table>
<p  style="margin-left:17px;color:red"  ng-bind="newRatePlanDialog.errmsg"></p>
          
          <p class="action" style=" text-align:center">
              <input name="" type="button" value="保存"  ng-click="newRatePlanDialog.save()"/>
          <input name="" type="button" value="取消" class="btn-bai" ng-click="newRatePlanDialog.close()"  />
          </p>
 
       </div>
   </div> 
</div>   
 <!--增加价格类别弹窗浮层end-->  


</div>
</%def>

<%def name="end()">
    <script>
        var hotelId = ${hotel_id};
    </script>
    <script src="${static_url('js/roomtype.js')}"></script>
</%def>

